Repository luca-bassoricci/dependabot: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-mock-image, build-mock-image-fork, build-ruby-image, dependency-scan, dep-scanning-fork, container-scan, container-scan-fork, e2e, e2e-fork, release-ruby-image, deploy-production

Path conditions:
  build-mock-image: any of: Dockerfile, spec/fixture/gitlab/**/*
  build-mock-image-fork: any of: Dockerfile, spec/fixture/gitlab/**/*
  build-ruby-image: any of: docker/Dockerfile
  dependency-scan: any of: Gemfile, Gemfile.lock
  dep-scanning-fork: any of: Gemfile, Gemfile.lock
  container-scan: any of: Dockerfile
  container-scan-fork: any of: Dockerfile
  e2e: any of: Dockerfile, spec/fixture/gitlab/**/*
  e2e-fork: any of: Dockerfile, spec/fixture/gitlab/**/*
  release-ruby-image: any of: docker/Dockerfile
  deploy-production: any of: app/**/*, config/**/*, kube/**/*, public/**/*, bin/rails, lib/tasks/dependabot.rake, config.ru, Dockerfile, Gemfile, Gemfile.lock, Rakefile

Update to v0.4.0
  CHANGELOG.md
Due: none

development-dependency: bump allure-rspec from 2.13.9 to 2.13.10
  Gemfile
  Gemfile.lock
Due: dependency-scan, dep-scanning-fork, deploy-production

dependency: bump dependabot-omnibus from 0.147.0 to 0.148.2
  Dockerfile
  Gemfile
  Gemfile.lock
Due: build-mock-image, build-mock-image-fork, dependency-scan, dep-scanning-fork, container-scan, container-scan-fork, e2e, e2e-fork, deploy-production

dependency: bump dependabot-omnibus from 0.148.2 to 0.148.3
  Dockerfile
  Gemfile
  Gemfile.lock
Due: build-mock-image, build-mock-image-fork, dependency-scan, dep-scanning-fork, container-scan, container-scan-fork, e2e, e2e-fork, deploy-production

chore: Update allure report publisher
  .gitlab/ci/jobs.gitlab-ci.yml
Due: none

Bump allure-report-publisher to 0.2.1
  .gitlab/ci/jobs.gitlab-ci.yml
Due: none

fix: Additionally filter gitlab search results
  app/services/gitlab/user_finder.rb
  spec/services/gitlab/user_finder_spec.rb
Due: deploy-production

dependency: bump dependabot-omnibus from 0.148.3 to 0.148.6
  Dockerfile
  Gemfile
  Gemfile.lock
Due: build-mock-image, build-mock-image-fork, dependency-scan, dep-scanning-fork, container-scan, container-scan-fork, e2e, e2e-fork, deploy-production

Update to v0.4.1
  CHANGELOG.md
Due: none

dependency: bump puma from 5.3.1 to 5.3.2
  Gemfile.lock
Due: dependency-scan, dep-scanning-fork, deploy-production

development-dependency: bump allure-rspec from 2.13.10 to 2.14.0
  Gemfile
  Gemfile.lock
Due: dependency-scan, dep-scanning-fork, deploy-production

dependency: bump dependabot-omnibus from 0.148.6 to 0.148.10
  Dockerfile
  Gemfile
  Gemfile.lock
Due: build-mock-image, build-mock-image-fork, dependency-scan, dep-scanning-fork, container-scan, container-scan-fork, e2e, e2e-fork, deploy-production

update allure-report-publisher
  .gitlab/ci/jobs.gitlab-ci.yml
Due: none

dependency: bump sentry-ruby, sentry-rails and sentry-sidekiq
  Gemfile
  Gemfile.lock
Due: dependency-scan, dep-scanning-fork, deploy-production

dependency: bump dependabot-omnibus from 0.148.10 to 0.149.2
  Dockerfile
  Gemfile
  Gemfile.lock
Due: build-mock-image, build-mock-image-fork, dependency-scan, dep-scanning-fork, container-scan, container-scan-fork, e2e, e2e-fork, deploy-production

Bump bundler version and deps
  Gemfile.lock
Due: dependency-scan, dep-scanning-fork, deploy-production

Update to v0.4.2
  CHANGELOG.md
Due: none

dependency: bump dependabot-omnibus from 0.149.2 to 0.149.3
  Dockerfile
  Gemfile
  Gemfile.lock
Due: build-mock-image, build-mock-image-fork, dependency-scan, dep-scanning-fork, container-scan, container-scan-fork, e2e, e2e-fork, deploy-production

development-dependency: bump solargraph from 0.40.4 to 0.41.1
  Gemfile
  Gemfile.lock
Due: dependency-scan, dep-scanning-fork, deploy-production

fix(docker): Redis container volume
  docker-compose.yml
Due: none

development-dependency: bump rubocop from 1.15.0 to 1.16.0
  Gemfile
  Gemfile.lock
Due: dependency-scan, dep-scanning-fork, deploy-production

dependency: bump dependabot-omnibus from 0.149.3 to 0.149.4
  Dockerfile
  Gemfile
  Gemfile.lock
Due: build-mock-image, build-mock-image-fork, dependency-scan, dep-scanning-fork, container-scan, container-scan-fork, e2e, e2e-fork, deploy-production

Bump codacy-coverage-reporter to 12.1.7
  .gitlab/ci/jobs.gitlab-ci.yml
Due: none

fix: explicitly indicate closed mr existance
  app/services/dependabot/merge_request_service.rb
  spec/services/dependabot/merge_request_service_spec.rb
Due: deploy-production

dependency: bump dependabot-omnibus from 0.149.4 to 0.149.5
  Dockerfile
  Gemfile
  Gemfile.lock
Due: build-mock-image, build-mock-image-fork, dependency-scan, dep-scanning-fork, container-scan, container-scan-fork, e2e, e2e-fork, deploy-production

dependency: bump sentry-rails from 4.5.0 to 4.5.1
  Gemfile.lock
Due: dependency-scan, dep-scanning-fork, deploy-production

dependency: bump sentry-ruby from 4.5.0 to 4.5.1
  Gemfile.lock
Due: dependency-scan, dep-scanning-fork, deploy-production

dependency: bump sentry-sidekiq from 4.5.0 to 4.5.1
  Gemfile.lock
Due: dependency-scan, dep-scanning-fork, deploy-production

dependency: bump dependabot-omnibus from 0.149.5 to 0.150.0
  Dockerfile
  Gemfile
  Gemfile.lock
Due: build-mock-image, build-mock-image-fork, dependency-scan, dep-scanning-fork, container-scan, container-scan-fork, e2e, e2e-fork, deploy-production

development-dependency: bump solargraph from 0.41.1 to 0.41.2
  Gemfile
  Gemfile.lock
Due: dependency-scan, dep-scanning-fork, deploy-production

dependency: bump dependabot-omnibus from 0.150.0 to 0.151.1
  Dockerfile
  Gemfile
  Gemfile.lock
Due: build-mock-image, build-mock-image-fork, dependency-scan, dep-scanning-fork, container-scan, container-scan-fork, e2e, e2e-fork, deploy-production

development-dependency: bump rubocop from 1.16.0 to 1.16.1
  Gemfile
  Gemfile.lock
Due: dependency-scan, dep-scanning-fork, deploy-production

development-dependency: bump rubocop-rspec from 2.3.0 to 2.4.0
  Gemfile
  Gemfile.lock
Due: dependency-scan, dep-scanning-fork, deploy-production

dependency: bump dependabot-omnibus from 0.151.1 to 0.152.0
  Dockerfile
  Gemfile
  Gemfile.lock
Due: build-mock-image, build-mock-image-fork, dependency-scan, dep-scanning-fork, container-scan, container-scan-fork, e2e, e2e-fork, deploy-production

Update to v0.4.3
  CHANGELOG.md
Due: none

Fix author in changelog
  CHANGELOG.md
Due: none

development-dependency: bump solargraph from 0.41.2 to 0.42.1
  Gemfile
  Gemfile.lock
Due: dependency-scan, dep-scanning-fork, deploy-production

development-dependency: bump allure-rspec from 2.14.0 to 2.14.1
  Gemfile
  Gemfile.lock
Due: dependency-scan, dep-scanning-fork, deploy-production

dependency: bump dependabot-omnibus from 0.152.0 to 0.152.1
  Dockerfile
  Gemfile
  Gemfile.lock
Due: build-mock-image, build-mock-image-fork, dependency-scan, dep-scanning-fork, container-scan, container-scan-fork, e2e, e2e-fork, deploy-production

dependency-update: update bundler version in base ruby image
  .gitlab-ci.yml
  .gitlab/ci/Dockerfile
  .gitlab/ci/jobs.gitlab-ci.yml
Due: none
