Repository luca-bassoricci/dependabot: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-mock-image, build-mock-image-fork, dependency-scan, dep-scanning-fork, container-scan, container-scan-fork, e2e, e2e-fork

Path conditions:
  build-mock-image: any of: Dockerfile, spec/fixture/gitlab/**/*
  build-mock-image-fork: any of: Dockerfile, spec/fixture/gitlab/**/*
  dependency-scan: any of: Gemfile, Gemfile.lock
  dep-scanning-fork: any of: Gemfile, Gemfile.lock
  container-scan: any of: Gemfile, Gemfile.lock
  container-scan-fork: any of: Gemfile, Gemfile.lock
  e2e: any of: Dockerfile, spec/fixture/gitlab/**/*
  e2e-fork: any of: Dockerfile, spec/fixture/gitlab/**/*

Update to v0.3.2
  CHANGELOG.md
Due: none

dependency: bump dependabot-omnibus from 0.137.1 to 0.137.2
  Dockerfile
  Gemfile
  Gemfile.lock
Due: build-mock-image, build-mock-image-fork, dependency-scan, dep-scanning-fork, container-scan, container-scan-fork, e2e, e2e-fork

dependency: bump sidekiq from 6.1.3 to 6.2.0
  Gemfile
  Gemfile.lock
Due: dependency-scan, dep-scanning-fork, container-scan, container-scan-fork

improvement: change no content response to accepted for requests not performing any action
  app/controllers/concerns/api/response.rb
  spec/controllers/api/hooks_controller_spec.rb
Due: none

dependency: bump dependabot-omnibus from 0.137.2 to 0.138.1
  Dockerfile
  Gemfile
  Gemfile.lock
Due: build-mock-image, build-mock-image-fork, dependency-scan, dep-scanning-fork, container-scan, container-scan-fork, e2e, e2e-fork

Update to v0.3.3
  CHANGELOG.md
Due: none

development-dependency: bump rspec-rails from 5.0.0 to 5.0.1
  Gemfile
  Gemfile.lock
Due: dependency-scan, dep-scanning-fork, container-scan, container-scan-fork

chore: digital-ocean deployment
  .gitlab-ci.yml
  .gitlab/ci/jobs.gitlab-ci.yml
  helmfile.yaml
Due: none

chore: update load balancer settings
  helmfile.yaml
Due: none

chore: update favicon
  public/favicon.ico
Due: none

chore: add development environment deployment
  .dockerignore
  .gitlab-ci.yml
  .gitlab/ci/jobs.gitlab-ci.yml
  README.md
  docker/docker-compose-dev.yml
  docker/docker-compose-prod.yml
  docker/docker-compose-test.yml
  docker/docker-compose.yml
  helmfile.yaml
  images/jetbrains.png
  kube/helm/development.yaml.gotmpl
  kube/helm/helmfile.yaml
  kube/helm/production.yaml.gotmpl
Due: none

chore: split dependency update logic, add main dependecy name to mr db entry
  app/jobs/dependency_update_job.rb
  app/models/merge_request.rb
  app/services/dependabot/dependency_updater.rb
  app/services/dependabot/merge_request_service.rb
  app/services/dependabot/update_checker.rb
  app/services/dependabot/updated_dependency.rb
  app/services/dependency_updater.rb
  app/services/update_service.rb
  spec/jobs/dependency_update_job_spec.rb
  spec/services/dependabot/dependency_updater_spec.rb
  spec/services/dependabot/merge_request_service_spec.rb
  spec/services/dependabot/update_checker_spec.rb
  spec/services/dependency_updater_spec.rb
  spec/services/update_service_spec.rb
Due: none

fix: incorrectly handled dependency updates
  app/services/dependabot/dependency_updater.rb
  docker/docker-compose-dev.yml
Due: none

chore: move compose files back to root
  README.md
  docker-compose-dev.yml
  docker-compose-prod.yml
  docker-compose-test.yml
  docker-compose.yml
Due: none

update base ruby image
  .gitlab/ci/jobs.gitlab-ci.yml
  spec/fixture/gitlab/Dockerfile
Due: build-mock-image, build-mock-image-fork, e2e, e2e-fork

chore: refactor dependency updater
  app/services/dependabot/dependency_updater.rb
  app/services/dependabot/rule_handler.rb
  app/services/dependabot/update_checker.rb
  app/services/dependabot/updated_dependency.rb
  docker-compose-dev.yml
  spec/services/dependabot/dependency_updater_spec.rb
  spec/services/dependabot/rule_handler_spec.rb
  spec/services/dependabot/update_checker_spec.rb
Due: none

chore: add directory to merge request model
  app/models/merge_request.rb
  app/services/dependabot/config.rb
  app/services/dependabot/file_fetcher.rb
  app/services/dependabot/merge_request_service.rb
  app/services/dependabot/project_creator.rb
  app/services/update_service.rb
  spec/services/dependabot/file_fetchera_spec.rb
  spec/services/update_service_spec.rb
Due: none

dependency: bump bootsnap from 1.7.2 to 1.7.3
  Gemfile.lock
Due: dependency-scan, dep-scanning-fork, container-scan, container-scan-fork

development-dependency: bump rubocop-performance from 1.10.1 to 1.10.2
  Gemfile
  Gemfile.lock
Due: dependency-scan, dep-scanning-fork, container-scan, container-scan-fork

feature: add merge request recreate command
  .reek.yml
  app/jobs/merge_request_recreation_job.rb
  app/services/dependabot/dependency_updater.rb
  app/services/dependabot/merge_request_recreator.rb
  app/services/dependabot/merge_request_service.rb
  app/services/gitlab/merge_request_updater.rb
  app/services/update_service.rb
  app/services/webhooks/comment_event_handler.rb
  spec/jobs/merge_request_recreation_job_spec.rb
  spec/services/dependabot/dependency_updater_spec.rb
  spec/services/dependabot/merge_request_recreator_spec.rb
  spec/services/dependabot/merge_request_service_spec.rb
  spec/services/gitlab/merge_request_rebaser_spec.rb
  spec/services/gitlab/merge_request_updater_spec.rb
  spec/services/update_service_spec.rb
  spec/services/webhooks/comment_event_handler_spec.rb
Due: none

dependency: bump dependabot-omnibus from 0.138.1 to 0.138.2
  Dockerfile
  Gemfile
  Gemfile.lock
Due: build-mock-image, build-mock-image-fork, dependency-scan, dep-scanning-fork, container-scan, container-scan-fork, e2e, e2e-fork

improvement: add recreate command description to merge requests
  app/services/gitlab/merge_request_creator.rb
  spec/services/gitlab/merge_request_creator_spec.rb
Due: none

chore: prevent parallel deployments to production
  .gitlab-ci.yml
Due: none

improvement: report caching errors, adjust cache expiry
  app/services/dependabot/config.rb
  app/services/gitlab/default_branch.rb
  app/services/gitlab/user_finder.rb
  config/environments/production.rb
Due: none

chore: add redis password for cache store
  config/environments/production.rb
Due: none

dependency: bump dependabot-omnibus from 0.138.2 to 0.138.3
  Dockerfile
  Gemfile
  Gemfile.lock
Due: build-mock-image, build-mock-image-fork, dependency-scan, dep-scanning-fork, container-scan, container-scan-fork, e2e, e2e-fork

fix: add recreate action to queue
  app/services/webhooks/comment_event_handler.rb
  spec/services/webhooks/comment_event_handler_spec.rb
Due: none

development-dependency: bump rubocop from 1.11.0 to 1.12.0
  Gemfile
  Gemfile.lock
  app/services/dependabot/merge_request_recreator.rb
Due: dependency-scan, dep-scanning-fork, container-scan, container-scan-fork

dependency: bump mimemagic to 0.3.10
  .gitlab/ci/jobs.gitlab-ci.yml
  Gemfile.lock
  spec/services/dependabot/merge_request_recreator_spec.rb
Due: dependency-scan, dep-scanning-fork, container-scan, container-scan-fork

development-dependency: bump webmock from 3.12.1 to 3.12.2
  Gemfile.lock
Due: dependency-scan, dep-scanning-fork, container-scan, container-scan-fork

dependency: bump dependabot/dependabot-core from 0.138.3 to 0.138.5
  Dockerfile
  Gemfile
  Gemfile.lock
Due: build-mock-image, build-mock-image-fork, dependency-scan, dep-scanning-fork, container-scan, container-scan-fork, e2e, e2e-fork

Update to v0.3.4
  CHANGELOG.md
Due: none

chore: chore-fix-container-scanner
  .gitlab/ci/jobs.gitlab-ci.yml
  CHANGELOG.md
Due: none

chore: add security updates changelog entry
  .gitlab/changelog_config.yml
Due: none

security: bump kramdown from 2.3.0 to 2.3.1
  Gemfile.lock
Due: dependency-scan, dep-scanning-fork, container-scan, container-scan-fork

chore: changelog improvements
  .gitlab/changelog_config.yml
  lib/task_helpers/release_helpers.rb
Due: none

Update to v0.3.5
  CHANGELOG.md
Due: none

chore: update ci ruby image
  .gitlab/ci/jobs.gitlab-ci.yml
  script/setup-git.sh
Due: none

development-dependency: bump andrcuns/ruby in /spec/fixture/gitlab
  spec/fixture/gitlab/Dockerfile
Due: build-mock-image, build-mock-image-fork, e2e, e2e-fork
