Repository luca-bassoricci/dependabot: changes, and which GitLab CI jobs are due for each by the changed paths.
All: cache_gems, deploy

cache_gems:
  stage: .pre
  script:
  - bundle install
  cache:
    policy: pull-push

deploy:
  stage: deploy
  script:
  - git push heroku master
  environment:
    name: heroku
    url: https://dependabot-gitlab.herokuapp.com/

Bump simplecov-cobertura from 1.4.0 to 1.4.1
  Gemfile
  Gemfile.lock
Due: cache_gems, deploy

Bump dependabot-omnibus from 0.120.3 to 0.120.4
  Gemfile
  Gemfile.lock
Due: cache_gems, deploy

Bump dependabot/dependabot-core from 0.120.3 to 0.120.4
  Dockerfile
Due: deploy

Use separate scalable buildkit runners
  .gitlab-ci.yml
Due: none

Bump dependabot-omnibus from 0.120.4 to 0.121.0
  Gemfile
  Gemfile.lock
Due: cache_gems, deploy

Bump dependabot/dependabot-core from 0.120.4 to 0.121.0
  Dockerfile
Due: deploy

Bump rails from 6.0.3.3 to 6.0.3.4
  Gemfile.lock
Due: cache_gems, deploy

Add puma error capture
  config/puma/production.rb
Due: deploy

Remove buildkit tag for e2e test job
  .gitlab-ci.yml
Due: none

Bump dependabot-omnibus from 0.121.0 to 0.122.0
  Dockerfile
  Gemfile
  Gemfile.lock
Due: cache_gems, deploy

Add github access token for e2e tests
  .gitlab-ci.yml
Due: none

Bump rubocop from 0.92.0 to 0.93.0
  Gemfile
  Gemfile.lock
Due: cache_gems, deploy

Bump rubocop from 0.93.0 to 0.93.1
  Gemfile
  Gemfile.lock
Due: cache_gems, deploy

Bump webmock from 3.9.1 to 3.9.2
  Gemfile.lock
Due: cache_gems, deploy

Separate docker build jobs for forked MR's
  .gitlab-ci.yml
  .gitlab/ci/runners.gitlab-ci.yml
  script/build.sh
  script/download-codacy.sh
Due: none

Bump dependabot-omnibus from 0.122.0 to 0.123.0
  Gemfile
  Gemfile.lock
Due: cache_gems, deploy

Remove github access token from e2e tests
  .gitlab-ci.yml
Due: none

Bump dependabot/dependabot-core from 0.122.0 to 0.123.0
  Dockerfile
Due: deploy

Fix file parser spec
  spec/services/dependabot/file_handler_spec.rb
Due: none

Remove redundant class and spec
  app/services/dependabot/dependency_fetcher.rb
  app/services/dependency_updater.rb
  spec/services/dependabot/dependency_fetcher_spec.rb
  spec/services/dependency_updater_spec.rb
Due: deploy

fix logging of credential warnings
  app/services/credentials.rb
Due: deploy

Bump webmock from 3.9.2 to 3.9.3
  Gemfile.lock
Due: cache_gems, deploy

Set merge request to merge automatically for passed pipelines
  README.md
  app/services/configuration/parser.rb
  app/services/dependabot/merge_request_service.rb
  spec/dependabot_helper.rb
  spec/gitlab_mock/gitlab_mock.rb
  spec/gitlab_mock/responses/gitlab/dependabot.yml
  spec/services/dependabot/merge_request_service_spec.rb
Due: deploy

Bump reek from 6.0.1 to 6.0.2
  Gemfile.lock
Due: cache_gems, deploy

Remove low level error handling
  config/puma/production.rb
Due: deploy

Remove redis cache store
  config/environments/development.rb
  config/environments/production.rb
  config/supervisor/supervisord.conf
  docker-compose-dev.yml
  docker-compose-prod.yml
  script/start.sh
Due: deploy

Add mutex for locking non thread safe operations
  app/services/dependabot/file_parser.rb
  app/services/dependabot/file_updater.rb
  app/services/dependency_updater.rb
  spec/services/dependency_updater_spec.rb
Due: deploy

Add global mutex for locking non thread safe operations
  app/helpers/application_helper.rb
  app/services/dependabot/file_parser.rb
  app/services/dependabot/file_updater.rb
  app/services/dependency_updater.rb
  spec/services/dependency_updater_spec.rb
Due: deploy

Remove unused semaphores
  app/services/dependabot/file_parser.rb
  app/services/dependabot/file_updater.rb
Due: deploy

Synchronize dependency updates
  app/helpers/application_helper.rb
  app/services/dependabot/file_parser.rb
  app/services/dependabot/file_updater.rb
  app/services/dependency_updater.rb
  app/services/semaphore.rb
  docker-compose-dev.yml
Due: deploy

Dev docker image and compose
  Dockerfile
  docker-compose-dev.yml
  script/entrypoint.sh
Due: deploy

Add mock image update
  .gitlab/dependabot.yml
Due: none

Bump dependabot/dependabot-core from 0.123.0 to 0.123.1
  Dockerfile
Due: deploy

Bump dependabot-omnibus from 0.123.0 to 0.123.1
  Gemfile
  Gemfile.lock
Due: cache_gems, deploy

Bump andrcuns/ruby in /spec/gitlab_mock
  spec/gitlab_mock/Dockerfile
Due: none

Remove cron jobs not present in dependabot.yml anymore
  app/helpers/application_helper.rb
  app/services/scheduler/dependency_update_scheduler.rb
  app/services/webhooks/push_event_handler.rb
  spec/services/scheduler/dependency_update_scheduler_spec.rb
  spec/services/webhooks/push_even_handler_spec.rb
Due: deploy

Bump dependabot-omnibus from 0.123.1 to 0.124.0
  Dockerfile
  Gemfile
  Gemfile.lock
Due: cache_gems, deploy

Bump dependabot-omnibus from 0.124.0 to 0.124.1
  Dockerfile
  Gemfile
  Gemfile.lock
Due: cache_gems, deploy

Synchronize only specific actions
  app/services/dependabot/merge_request_service.rb
  app/services/dependabot/update_checker.rb
  app/services/dependency_updater.rb
  spec/services/dependabot/merge_request_service_spec.rb
  spec/services/dependency_updater_spec.rb
Due: deploy

Path conditions:
  cache_gems: any of: Gemfile.lock
  deploy: any of: app/**/*, config/**/*, lib/**/*, public/**/*, bin/rails, config.ru, Gemfile, Gemfile.lock, Rakefile, Dockerfile, .dockerignore
