Repository luca-bassoricci/dependabot: changes, and which GitLab CI jobs are due for each by the changed paths.
All: cache_gems, deploy

Path conditions:
  cache_gems: any of: Gemfile.lock
  deploy: any of: app/**/*, config/**/*, lib/**/*, public/**/*, bin/rails, config.ru, Gemfile, Gemfile.lock, Rakefile, Dockerfile, .dockerignore

Handle incorrect body in requests to webhook endpoint
  app/controllers/api/hooks_controller.rb
  spec/controllers/api/hooks_controller_spec.rb
Due: deploy

Improved documentation for allowing/ignoring specifix dependencies
  README.md
  app/services/dependabot/update_checker.rb
Due: deploy

Bump brakeman from 4.9.0 to 4.9.1
  Gemfile.lock
Due: cache_gems, deploy

Add package ecosystem mappings according to dependabot configuration
  app/services/configuration/parser.rb
  app/services/dependency_updater.rb
  lib/tasks/dependabot.rake
  spec/dependabot_helper.rb
  spec/services/configuration/configuration_spec.rb
  spec/services/configuration/parser_spec.rb
  spec/services/configuration/schedule_spec.rb
  spec/services/dependency_updater_spec.rb
Due: deploy

fix: Fix passing incorrect argument to cron job creator
  app/services/scheduler/dependency_update_scheduler.rb
  spec/jobs/dependency_update_job_spec.rb
  spec/services/scheduler/dependency_update_scheduler_spec.rb
Due: deploy

enhancement: Added support for multiple maven repositories
  README.md
  app/services/credentials.rb
  spec/services/credentials_spec.rb
Due: deploy

Bump puma from 4.3.5 to 4.3.6
  Gemfile.lock
Due: cache_gems, deploy

feature: private docker and npm registries credentials support
  .reek.yml
  README.md
  app/helpers/application_helper.rb
  app/services/credentials.rb
  app/services/webhooks/push_event_handler.rb
  spec/services/credentials_spec.rb
Due: deploy

dev: Add codacy analysis
  .gitlab-ci.yml
  .gitlab/ci/runners.gitlab-ci.yml
  README.md
  script/download-codacy.sh
Due: none

Fix shell issues
  README.md
  script/start.sh
Due: none

Fix release job
  .gitlab-ci.yml
Due: none

Bump sidekiq from 6.1.1 to 6.1.2
  Gemfile
  Gemfile.lock
Due: cache_gems, deploy

Bump rails from 6.0.3.2 to 6.0.3.3
  Gemfile.lock
Due: cache_gems, deploy

Bump dependabot-omnibus from 0.119.2 to 0.119.3
  Dockerfile
  Gemfile
  Gemfile.lock
Due: cache_gems, deploy

Fix rescue statement
  app/services/dependabot/update_checker.rb
Due: deploy

enhancement: Dependabot configuration validation
  Gemfile
  Gemfile.lock
  app/contracts/dependabot_config_contract.rb
  app/errors/error.rb
  app/services/configuration/parser.rb
  app/services/gitlab/config_fetcher.rb
  lib/exceptions.rb
  spec/dependabot_helper.rb
  spec/gitlab_mock/responses/gitlab/dependabot.yml
  spec/services/configuration/parser_spec.rb
  spec/services/dependabot/merge_request_service_spec.rb
Due: cache_gems, deploy

Bump dry-validation from 1.5.4 to 1.5.6
  Gemfile.lock
Due: cache_gems, deploy

Bump webmock from 3.8.3 to 3.9.0
  Gemfile
  Gemfile.lock
Due: cache_gems, deploy

Refactor pipeline to rules syntax
  .gitlab-ci.yml
Due: none

Remove heroku deployment
  .gitlab-ci.yml
  .gitlab/ci/runners.gitlab-ci.yml
  heroku.yml
Due: none

Bump webmock from 3.9.0 to 3.9.1
  Gemfile.lock
Due: cache_gems, deploy

Bump dependabot-omnibus from 0.119.3 to 0.119.4
  Dockerfile
  Gemfile
  Gemfile.lock
Due: cache_gems, deploy

Bump rubocop from 0.90.0 to 0.91.0
  Gemfile
  Gemfile.lock
Due: cache_gems, deploy

Bump rubocop-rails from 2.8.0 to 2.8.1
  Gemfile.lock
Due: cache_gems, deploy

Bump puma from 4.3.6 to 5.0.0
  Gemfile
  Gemfile.lock
Due: cache_gems, deploy

Bump sentry-raven from 3.0.4 to 3.1.0
  Gemfile
  Gemfile.lock
Due: cache_gems, deploy

Bump rubocop-performance from 1.8.0 to 1.8.1
  Gemfile
  Gemfile.lock
Due: cache_gems, deploy

Bump dependabot-omnibus from 0.119.4 to 0.119.6
  Dockerfile
  Gemfile
  Gemfile.lock
Due: cache_gems, deploy

Bump rubocop from 0.91.0 to 0.91.1
  Gemfile
  Gemfile.lock
Due: cache_gems, deploy

Bump rubocop from 0.91.1 to 0.92.0
  Gemfile
  Gemfile.lock
Due: cache_gems, deploy

Bump sentry-raven from 3.1.0 to 3.1.1
  Gemfile.lock
Due: cache_gems, deploy

Bump dependabot-omnibus from 0.119.6 to 0.120.0
  Dockerfile
  Gemfile
  Gemfile.lock
Due: cache_gems, deploy

Bump dependabot-omnibus from 0.120.0 to 0.120.1
  Dockerfile
  Gemfile
  Gemfile.lock
Due: cache_gems, deploy

Bump solargraph from 0.39.15 to 0.39.16
  Gemfile
  Gemfile.lock
Due: cache_gems, deploy

Use private k8s runner for image building
  .gitlab-ci.yml
  .gitlab/ci/runners.gitlab-ci.yml
Due: none

Bump dependabot/dependabot-core from 0.120.1 to 0.120.3
  Dockerfile
Due: deploy

Bump dependabot-omnibus from 0.120.1 to 0.120.3
  Gemfile
  Gemfile.lock
Due: cache_gems, deploy

Bump puma from 5.0.0 to 5.0.2
  Gemfile.lock
Due: cache_gems, deploy

Bump solargraph from 0.39.16 to 0.39.17
  Gemfile
  Gemfile.lock
Due: cache_gems, deploy

Bump brakeman from 4.9.1 to 4.10.0
  Gemfile
  Gemfile.lock
Due: cache_gems, deploy
