Repository luca-bassoricci/dependabot: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-mock-image, build-ruby-image, dependency-scan, container-scan, e2e, release-ruby-image, deploy-production

e2e:
  variables:
    SETTINGS__GITHUB_ACCESS_TOKEN: $GITHUB_ACCESS_TOKEN

deploy-production:
  tags:
  - deploy
  environment:
    name: production
    url: $DEPENDABOT_URL_PRODUCTION
    on_stop: stop-production
  resource_group: production
  variables:
    DEPENDABOT_URL: $DEPENDABOT_URL_PRODUCTION

improvement: Add update job retry configuration
  app/jobs/dependency_update_job.rb
  config/configs/app_config.rb
  doc/environment.md
  kube/helm/development.yaml.gotmpl
  kube/helm/helmfile.yaml
  kube/helm/production.yaml.gotmpl
Due: deploy-production

Revert to inline cache
  script/build.sh
Due: none

chore: Update ruby version in CI image
  .gitlab/ci/Dockerfile
  .gitlab/ci/jobs.gitlab-ci.yml
Due: build-ruby-image, release-ruby-image

bump ruby version for CI runners
  .gitlab/ci/jobs.gitlab-ci.yml
Due: none

fix: persist mrs if it was created but gitlab request failed
  app/services/dependabot/merge_request_service.rb
Due: deploy-production

improvement: remove superseeded mr branches
  app/models/merge_request.rb
  app/services/dependabot/merge_request_service.rb
  app/services/gitlab/branch_remover.rb
  spec/services/dependabot/merge_request_service_spec.rb
  spec/services/gitlab/branch_remover_spec.rb
Due: deploy-production

fix: properly raise error on github api rate limit exceeded
  app/services/dependabot/update_service.rb
Due: deploy-production

dependency: bump yabeda-prometheus-mmap from 0.1.2 to 0.2.0
  Gemfile
  Gemfile.lock
Due: dependency-scan, deploy-production

fix: correctly fetch last run errors
  app/helpers/dependabot_helper.rb
Due: deploy-production

chore: update dev redis container version
  .gitlab/ci/jobs.gitlab-ci.yml
  docker-compose.yml
Due: none

chore: refactor merge request service
  app/services/dependabot/merge_request_service.rb
  spec/services/dependabot/merge_request_service_spec.rb
Due: deploy-production

chore: simplify error handling for mr create
  app/services/dependabot/merge_request_service.rb
Due: deploy-production

fix: correctly handle errors on mr creation
  app/services/dependabot/merge_request_service.rb
  spec/services/dependabot/merge_request_service_spec.rb
Due: deploy-production

development-dependency: bump rubocop from 1.18.3 to 1.18.4
  Gemfile
  Gemfile.lock
Due: dependency-scan, deploy-production

doc: add supported configuration options table
  README.md
Due: none

fix: use tagged logger for logging errors
  app/helpers/application_helper.rb
Due: deploy-production

development-dependency: bump allure-rspec from 2.14.2 to 2.14.3
  Gemfile
  Gemfile.lock
Due: dependency-scan, deploy-production

fix: do not cache registries configuration
  app/services/dependabot/config_fetcher.rb
  app/services/gitlab/config/fetcher.rb
  spec/services/dependabot/config_fetcher_spec.rb
  spec/services/dependabot/merge_request_recreator_spec.rb
  spec/services/dependabot/project_creator_spec.rb
  spec/services/dependabot/update_service_spec.rb
Due: deploy-production

chore: use daemonless buildkit
  .gitlab/ci/jobs.gitlab-ci.yml
  script/build.sh
Due: none

Update to v0.7.0
  CHANGELOG.md
Due: none

chore: extract docker runner definition
  .gitlab/ci/jobs.gitlab-ci.yml
Due: none

chore: move logging statement for config fetching inside cache block
  app/services/gitlab/config/fetcher.rb
Due: deploy-production

set rebase-strategy to auto for bundler
  .gitlab/dependabot.yml
Due: none

development-dependency: bump solargraph from 0.42.4 to 0.43.0
  Gemfile
  Gemfile.lock
Due: dependency-scan, deploy-production

dependency: bump sentry-sidekiq from 4.6.1 to 4.6.3
  Gemfile.lock
Due: dependency-scan, deploy-production

dependency: bump sentry-ruby from 4.6.1 to 4.6.3
  Gemfile.lock
Due: dependency-scan, deploy-production

dependency: bump sentry-rails from 4.6.1 to 4.6.3
  Gemfile.lock
Due: dependency-scan, deploy-production

feature: rebase/recreate other open mrs after merging dependency updates
  .reek.yml
  .rubocop.yml
  app/controllers/api/hooks_controller.rb
  app/jobs/merge_request_recreation_job.rb
  app/jobs/merge_request_update_job.rb
  app/models/merge_request.rb
  app/services/dependabot/merge_request_service.rb
  app/services/dependabot/merge_request_updater.rb
  app/services/webhooks/merge_request_event_handler.rb
  config/initializers/mention_sanitizer.rb
  doc/dependabot.md
  spec/controllers/api/hooks_controller_spec.rb
  spec/jobs/merge_request_recreation_job_spec.rb
  spec/jobs/merge_request_update_job_spec.rb
  spec/services/dependabot/merge_request_service_spec.rb
  spec/services/dependabot/merge_request_updater_spec.rb
  spec/services/webhooks/merge_request_event_handler_spec.rb
  spec/services/webhooks/pipeline_event_handler_spec.rb
Due: deploy-production

doc: Fix documentation typo
  doc/dependabot.md
Due: none

change rebase strategy to auto
  .gitlab/dependabot.yml
Due: none

fix: do not trigger updates for merged mr if auto-rebase is disabled
  app/services/webhooks/merge_request_event_handler.rb
  spec/services/webhooks/merge_request_event_handler_spec.rb
Due: deploy-production

dependency: bump dependabot-omnibus from 0.156.9 to 0.157.1
  Dockerfile
  Gemfile
  Gemfile.lock
Due: build-mock-image, dependency-scan, container-scan, e2e, deploy-production

dependency: bump bootsnap from 1.7.5 to 1.7.6
  Gemfile.lock
Due: dependency-scan, deploy-production

fix: log auto-rebase triggered only if mrs exist
  app/services/webhooks/merge_request_event_handler.rb
Due: deploy-production

fix: correctly pass arguments to MergeRequestService
  app/services/dependabot/merge_request_updater.rb
Due: deploy-production

chore: fix local Dockerfile stage
  Dockerfile
Due: build-mock-image, container-scan, e2e, deploy-production

development-dependency: bump dependabot-gitlab/dependabot/ruby
  spec/fixture/gitlab/Dockerfile
Due: build-mock-image, e2e

dependency: bump puma from 5.3.2 to 5.4.0
  Gemfile
  Gemfile.lock
Due: dependency-scan, deploy-production

Update rebase-strategy to auto
  .gitlab/dependabot.yml
Due: none

dependency: bump sentry-sidekiq from 4.6.3 to 4.6.4
  Gemfile.lock
Due: dependency-scan, deploy-production

Path conditions:
  build-mock-image: any of: Dockerfile, spec/fixture/gitlab/**/*
  build-ruby-image: any of: .gitlab/ci/Dockerfile
  dependency-scan: any of: Gemfile, Gemfile.lock
  container-scan: any of: Dockerfile
  e2e: any of: Dockerfile, spec/fixture/gitlab/**/*
  release-ruby-image: any of: .gitlab/ci/Dockerfile
  deploy-production: any of: app/**/*, config/**/*, kube/**/*, public/**/*, bin/rails, lib/tasks/dependabot.rake, config.ru, Dockerfile, Gemfile, Gemfile.lock, Rakefile
