Repository luca-bassoricci/dependabot: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-mock-image, build-mock-image-fork, build-ruby-image, dependency-scan, dep-scanning-fork, container-scan, container-scan-fork, e2e, e2e-fork, release-ruby-image, deploy-production

Path conditions:
  build-mock-image: any of: Dockerfile, spec/fixture/gitlab/**/*
  build-mock-image-fork: any of: Dockerfile, spec/fixture/gitlab/**/*
  build-ruby-image: any of: docker/Dockerfile
  dependency-scan: any of: Gemfile, Gemfile.lock
  dep-scanning-fork: any of: Gemfile, Gemfile.lock
  container-scan: any of: Dockerfile
  container-scan-fork: any of: Dockerfile
  e2e: any of: Dockerfile, spec/fixture/gitlab/**/*
  e2e-fork: any of: Dockerfile, spec/fixture/gitlab/**/*
  release-ruby-image: any of: docker/Dockerfile
  deploy-production: any of: app/**/*, config/**/*, kube/**/*, public/**/*, bin/rails, lib/tasks/dependabot.rake, config.ru, Dockerfile, Gemfile, Gemfile.lock, Rakefile

Update dependabot.yml
  .gitlab/dependabot.yml
Due: none

development-dependency: bump solargraph from 0.42.1 to 0.42.3
  Gemfile
  Gemfile.lock
Due: dependency-scan, dep-scanning-fork, deploy-production

development-dependency: bump rubocop from 1.16.1 to 1.17.0
  Gemfile
  Gemfile.lock
Due: dependency-scan, dep-scanning-fork, deploy-production

dependency: bump dependabot-omnibus from 0.152.1 to 0.154.0
  Dockerfile
  Gemfile
  Gemfile.lock
Due: build-mock-image, build-mock-image-fork, dependency-scan, dep-scanning-fork, container-scan, container-scan-fork, e2e, e2e-fork, deploy-production

dependency: bump dependabot-omnibus from 0.154.0 to 0.154.1
  Dockerfile
  Gemfile
  Gemfile.lock
Due: build-mock-image, build-mock-image-fork, dependency-scan, dep-scanning-fork, container-scan, container-scan-fork, e2e, e2e-fork, deploy-production

development-dependency: bump rubocop-rails from 2.10.1 to 2.11.0
  Gemfile
  Gemfile.lock
Due: dependency-scan, dep-scanning-fork, deploy-production

dependency: bump dependabot-omnibus from 0.154.1 to 0.154.3
  Dockerfile
  Gemfile
  Gemfile.lock
Due: build-mock-image, build-mock-image-fork, dependency-scan, dep-scanning-fork, container-scan, container-scan-fork, e2e, e2e-fork, deploy-production

development-dependency: bump debian in /.gitlab/ci
  .gitlab/ci/Dockerfile
Due: none

improvement: add env MONGODB_RETRY_WRITES to allow disable retryWrites
  config/mongoid.yml
Due: deploy-production

dependency: bump sentry-sidekiq from 4.5.1 to 4.5.2
  Gemfile.lock
Due: dependency-scan, dep-scanning-fork, deploy-production

dependency: bump sentry-rails from 4.5.1 to 4.5.2
  Gemfile.lock
Due: dependency-scan, dep-scanning-fork, deploy-production

dependency: bump rails from 6.1.3.2 to 6.1.4
  Gemfile
  Gemfile.lock
Due: dependency-scan, dep-scanning-fork, deploy-production

dependency: bump sentry-ruby from 4.5.1 to 4.5.2
  Gemfile.lock
Due: dependency-scan, dep-scanning-fork, deploy-production

dependency: bump dependabot-omnibus from 0.154.3 to 0.156.4
  Dockerfile
  Gemfile
  Gemfile.lock
Due: build-mock-image, build-mock-image-fork, dependency-scan, dep-scanning-fork, container-scan, container-scan-fork, e2e, e2e-fork, deploy-production

dependency: bump yabeda-prometheus-mmap from 0.1.1 to 0.1.2
  Gemfile
  Gemfile.lock
Due: dependency-scan, dep-scanning-fork, deploy-production

Update to v0.4.4
  CHANGELOG.md
Due: none

Fix changelog
  CHANGELOG.md
Due: none

dependency: bump sentry-sidekiq, sentry-rails and sentry-ruby
  Gemfile
  Gemfile.lock
Due: dependency-scan, dep-scanning-fork, deploy-production

development-dependency: bump rubocop from 1.17.0 to 1.18.2
  Gemfile
  Gemfile.lock
Due: dependency-scan, dep-scanning-fork, deploy-production

development-dependency: bump rubocop-rails from 2.11.0 to 2.11.2
  Gemfile.lock
Due: dependency-scan, dep-scanning-fork, deploy-production

development-dependency: bump rubocop from 1.18.2 to 1.18.3
  Gemfile
  Gemfile.lock
Due: dependency-scan, dep-scanning-fork, deploy-production

chore: remove private infrastructure usage
  .gitlab-ci.yml
  .gitlab/ci/Dockerfile
  .gitlab/ci/jobs.gitlab-ci.yml
  .ruby-version
  script/build.sh
Due: none

Fix gitlab-mock image name
  .gitlab/ci/jobs.gitlab-ci.yml
Due: none

update ci helm, buildkit and ruby images
  .gitlab/ci/jobs.gitlab-ci.yml
Due: none

chore: add fallback to master-cache for docker builds
  script/build.sh
Due: none

development-dependency: bump git from 1.8.1 to 1.9.1
  Gemfile
  Gemfile.lock
Due: dependency-scan, dep-scanning-fork, deploy-production

development-dependency: bump rubocop-performance from 1.11.3 to 1.11.4
  Gemfile
  Gemfile.lock
Due: dependency-scan, dep-scanning-fork, deploy-production

fix: deprecation warning fixes
  .gitlab-ci.yml
  app/services/application_service.rb
  app/services/dependabot/config_parser.rb
Due: deploy-production

chore: Update gitlab mock ruby base image
  spec/fixture/gitlab/Dockerfile
Due: build-mock-image, build-mock-image-fork, e2e, e2e-fork

dependency: bump sentry-rails from 4.6.0 to 4.6.1
  Gemfile.lock
Due: dependency-scan, dep-scanning-fork, deploy-production

dependency: bump sentry-ruby from 4.6.0 to 4.6.1
  Gemfile.lock
Due: dependency-scan, dep-scanning-fork, deploy-production

dependency: bump sentry-sidekiq from 4.6.0 to 4.6.1
  Gemfile.lock
Due: dependency-scan, dep-scanning-fork, deploy-production

fix e2e job needs block
  .gitlab-ci.yml
Due: none

improvement: remove schedule validation for standalone mode
  app/contracts/dependabot_config_contract.rb
Due: deploy-production

improvement: use memory cache for standalone mode
  .gitlab/ci/jobs.gitlab-ci.yml
  app/services/gitlab/user_finder.rb
  config/environments/production.rb
  spec/dependabot_helper.rb
  spec/fixture/gitlab/responses/dependabot.yml
Due: build-mock-image, build-mock-image-fork, e2e, e2e-fork, deploy-production

improvement: option to override branch of dependabot.yml configuration file
  app/services/dependabot/config_fetcher.rb
  app/services/gitlab/config/fetcher.rb
  config/configs/app_config.rb
  doc/environment.md
  spec/services/dependabot/config_fetcher_spec.rb
  spec/services/dependabot/file_fetcher_spec.rb
Due: deploy-production

fix: Properly handle missing schedule key dependabot.yml
  app/services/dependabot/config_parser.rb
Due: deploy-production

chore: tag standalone version updates
  lib/task_helpers/standalone_release_helper.rb
Due: none

Update to v0.4.5
  CHANGELOG.md
Due: none

chore: fix dependapot-standalone version updates
  lib/task_helpers/standalone_release_helper.rb
Due: none
