Repository luca-bassoricci/dependabot: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ruby-image, dependency-scan, container-scan, validate-deploy-production, release-ruby-image, deploy-production

Path conditions:
  build-ruby-image: any of: .gitlab/ci/Dockerfile
  dependency-scan: any of: Gemfile, Gemfile.lock
  container-scan: any of: Dockerfile
  validate-deploy-production: (any of: terraform/**/*) or (any of: app/**/*, config/**/*, kube/**/*, public/**/*, terraform/**/*, bin/rails, lib/tasks/dependabot.rake, config.ru, Dockerfile, Gemfile, Gemfile.lock, Rakefile, .gitlab/ci/jobs.gitlab-ci.yml, .gitlab-ci.yml)
  release-ruby-image: any of: .gitlab/ci/Dockerfile
  deploy-production: any of: app/**/*, config/**/*, kube/**/*, public/**/*, terraform/**/*, bin/rails, lib/tasks/dependabot.rake, config.ru, Dockerfile, Gemfile, Gemfile.lock, Rakefile, .gitlab/ci/jobs.gitlab-ci.yml, .gitlab-ci.yml

chore: remove yabeda monkey patch
  config/initializers/yabeda.rb
  terraform/main.tf
  terraform/values/common.tpl
  terraform/variables.tf
Due: validate-deploy-production, deploy-production

chore: remove ssl cert conditional
  terraform/main.tf
Due: validate-deploy-production, deploy-production

chore: always pull image for dev deploy
  terraform/values/development.tpl
Due: validate-deploy-production, deploy-production

chore: update chart update commit message
  lib/task_helpers/chart_release_helper.rb
Due: none

Update to v0.10.1
  CHANGELOG.md
Due: none

chore: bump helm chart version
  terraform/main.tf
Due: validate-deploy-production, deploy-production

chore: remove sidekiq-healthcheck script
  kube/sidekiq-healthcheck.sh
Due: validate-deploy-production, deploy-production

dependency: bump puma from 5.4.0 to 5.5.0
  Gemfile
  Gemfile.lock
Due: dependency-scan, validate-deploy-production, deploy-production

development-dependency: bump solargraph from 0.43.0 to 0.43.1
  Gemfile
  Gemfile.lock
Due: dependency-scan, validate-deploy-production, deploy-production

dependency: bump bootsnap from 1.9.0 to 1.9.1
  Gemfile.lock
Due: dependency-scan, validate-deploy-production, deploy-production

dependency: bump dependabot-omnibus from 0.162.0 to 0.162.1
  Dockerfile
  Gemfile
  Gemfile.lock
Due: dependency-scan, container-scan, validate-deploy-production, deploy-production

chore: add ci build stage
  .gitlab/ci/jobs.gitlab-ci.yml
Due: validate-deploy-production, deploy-production

development-dependency: bump rubocop-rspec from 2.4.0 to 2.5.0
  Gemfile
  Gemfile.lock
Due: dependency-scan, validate-deploy-production, deploy-production

dependency: bump sentry-rails from 4.7.2 to 4.7.3
  Gemfile.lock
Due: dependency-scan, validate-deploy-production, deploy-production

dependency: bump sentry-ruby from 4.7.2 to 4.7.3
  Gemfile.lock
Due: dependency-scan, validate-deploy-production, deploy-production

dependency: bump sentry-sidekiq from 4.7.2 to 4.7.3
  Gemfile.lock
Due: dependency-scan, validate-deploy-production, deploy-production

improvement: persist mrs from forked projects
  app/models/merge_request.rb
  app/services/dependabot/merge_request_service.rb
  app/services/gitlab/merge_request/closer.rb
  spec/services/dependabot/merge_request_service_spec.rb
  spec/services/gitlab/merge_request/closer_spec.rb
Due: validate-deploy-production, deploy-production

fix: do not automerge mrs in forked projects
  app/services/dependabot/merge_request_service.rb
  spec/services/dependabot/merge_request_service_spec.rb
Due: validate-deploy-production, deploy-production

improvement: support recreating forked MRs
  app/services/dependabot/merge_request_service.rb
  app/services/gitlab/merge_request/updater.rb
  config/initializers/dependabot.rb
  spec/services/dependabot/merge_request_service_spec.rb
  spec/services/gitlab/merge_request/updater_spec.rb
Due: validate-deploy-production, deploy-production

fix: correctly monkey patch pr creator and updater
  config/initializers/dependabot.rb
Due: validate-deploy-production, deploy-production

chore: use load_configuration method for mongoid config
  config/initializers/mongoid.rb
  lib/task_helpers/chart_release_helper.rb
  lib/task_helpers/release_helpers.rb
  lib/task_helpers/standalone_release_helper.rb
  lib/tasks/coverage.rake
  lib/tasks/release.rake
Due: validate-deploy-production, deploy-production

fix: correctly perform migrations
  Dockerfile
  script/build.sh
Due: container-scan, validate-deploy-production, deploy-production

Update to v0.10.2
  CHANGELOG.md
Due: none

fix: correctly migrate project_id fields
  app/models/project.rb
  app/services/dependabot/project_creator.rb
  config/initializers/mongoid.rb
  db/migrate/20210820183037_projects.rb
  db/migrate/20210923192616_project_id_fix.rb
Due: validate-deploy-production, deploy-production

development-dependency: bump solargraph from 0.43.1 to 0.43.2
  Gemfile
  Gemfile.lock
Due: dependency-scan, validate-deploy-production, deploy-production

Update to v0.10.3
  CHANGELOG.md
Due: none

chore: update terraform fmt command
  .gitlab/ci/jobs.gitlab-ci.yml
Due: validate-deploy-production, deploy-production

chore: save global merge request id
  app/models/merge_request.rb
  app/services/dependabot/merge_request_service.rb
  spec/services/dependabot/merge_request_service_spec.rb
Due: validate-deploy-production, deploy-production

development-dependency: bump digitalocean/digitalocean in /terraform
  terraform/.terraform.lock.hcl
Due: validate-deploy-production, deploy-production

development-dependency: bump solargraph from 0.43.2 to 0.43.3
  Gemfile
  Gemfile.lock
Due: dependency-scan, validate-deploy-production, deploy-production

chore: update terraform.lock
  terraform/.terraform.lock.hcl
Due: validate-deploy-production, deploy-production

chore: fix chart release commit message
  lib/task_helpers/chart_release_helper.rb
Due: none

chore: use chart version in update commit
  lib/task_helpers/chart_release_helper.rb
Due: none

development-dependency: bump solargraph from 0.43.3 to 0.44.0
  Gemfile
  Gemfile.lock
Due: dependency-scan, validate-deploy-production, deploy-production

dependency: bump sidekiq_alive from 2.1.2 to 2.1.4
  Gemfile.lock
Due: dependency-scan, validate-deploy-production, deploy-production

feature: release notifications endpoint
  README.md
  app/controllers/api/notify_release_controller.rb
  app/services/dependabot/update_service.rb
  config/routes.rb
  spec/controllers/api/notify_release_controller_spec.rb
  spec/services/dependabot/update_service_spec.rb
Due: validate-deploy-production, deploy-production

dependency: bump anyway_config from 2.1.0 to 2.2.1
  Gemfile
  Gemfile.lock
Due: dependency-scan, validate-deploy-production, deploy-production

development-dependency: bump rubocop from 1.21.0 to 1.22.0
  Gemfile
  Gemfile.lock
Due: dependency-scan, validate-deploy-production, deploy-production

dependency: bump dependabot-omnibus from 0.162.1 to 0.162.2
  Dockerfile
  Gemfile
  Gemfile.lock
Due: dependency-scan, container-scan, validate-deploy-production, deploy-production

Update to v0.10.4
  CHANGELOG.md
Due: none
