Repository luca-bassoricci/dependabot: changes, and which GitLab CI jobs are due for each by the changed paths.
All: terraform-init, dependency-scan, terraform-fmt, terraform-validate, build-ruby-image, terraform-build, container-scan, release-ruby-image, deploy

dependency-scan:
  needs:
  - cache-dependencies

terraform-fmt:
  needs:
  - terraform-init

terraform-validate:
  needs:
  - terraform-init

terraform-build:
  needs:
  - terraform-init
  - terraform-fmt
  - terraform-validate

container-scan:
  needs:
  - build-app-image

release-ruby-image:
  dependencies: []

deploy:
  dependencies:
  - terraform-init
  environment:
    name: $TF_STATE_NAME
    url: https://$DEPENDABOT_HOST
    on_stop: destroy

Bump spring from 3.1.1 to 4.0.0
  Gemfile
  Gemfile.lock
Due: terraform-init, dependency-scan, terraform-build, deploy

Update app version to v0.11.0
  VERSION
Due: none

Add changelog for version 0.11.0
  CHANGELOG.md
Due: none

Update CI setup
  .gitignore
  .gitlab-ci.yml
  .gitlab/ci/Dockerfile
  .gitlab/ci/helm/values.yml
  .gitlab/ci/kube/fake-gitlab.yaml
  .gitlab/ci/kube/kind-config.yaml
  .gitlab/ci/pipeline/jobs.gitlab-ci.yml
  .gitlab/ci/pipeline/rules.gitlab-ci.yml
  .gitlab/ci/script/build.sh
  .gitlab/ci/script/install-app.sh
  .gitlab/ci/script/install-kind.sh
  .gitlab/ci/script/log-cluster.sh
  .gitlab/dependabot.yml
  README.md
  spec/controllers/api/projects_controller_spec.rb
  spec/rails_helper.rb
  terraform/.terraform.lock.hcl
  terraform/main.tf
  terraform/variables.tf
Due: terraform-init, terraform-fmt, terraform-validate, build-ruby-image, terraform-build, release-ruby-image, deploy

Fix ci image latest tag
  .gitlab/ci/pipeline/rules.gitlab-ci.yml
Due: none

Remove deployment changelog section
  .gitlab/changelog_config.yml
Due: none

Update base image for gitlab mock
  spec/fixture/gitlab/Dockerfile
Due: none

Update e2e test CI image
  .gitlab/ci/pipeline/jobs.gitlab-ci.yml
Due: none

Bump gitlab from `cfd0d9a` to `25f6f76`
  Gemfile.lock
Due: terraform-init, dependency-scan, terraform-build, deploy

Remove inherit: false option from trigger job
  .gitlab/ci/pipeline/jobs.gitlab-ci.yml
Due: none

Fix dependency path in dependabot.yml
  .gitlab/dependabot.yml
Due: none

Update gitlab mocking setup for testing
  .gitlab-ci.yml
  .gitlab/ci/helm/values.yml
  .gitlab/ci/jobs.gitlab-ci.yml
  .gitlab/ci/kube/fake-gitlab.yaml
  .gitlab/ci/kube/kind-config.yaml
  .gitlab/ci/rules.gitlab-ci.yml
  .gitlab/ci/script/install-app.sh
  .gitlab/ci/script/install-kind.sh
  .gitlab/ci/script/log-cluster.sh
  .gitlab/dependabot.yml
  .gitlab/docker/ci/Dockerfile
  .gitlab/docker/test/Dockerfile
  .gitlab/script/build-image.sh
  .gitlab/script/changelog.sh
  .gitlab/script/download-coverage.sh
  .gitlab/script/run-standalone.sh
  .gitlab/script/set-mock.sh
  .gitlab/script/utils.sh
  Dockerfile
  README.md
  config/supervisor/supervisord.conf
  doc/environment.md
  docker-compose-dev.yml
  docker-compose-prod.yml
  docker-compose-test.yml
  docker-compose.yml
  script/entrypoint.sh
  script/start.sh
  script/stop.sh
  spec/fixture/gitlab/.dockerignore
  spec/fixture/gitlab/Dockerfile
  spec/fixture/gitlab/fake_gitlab.rb
  spec/fixture/gitlab/mocks/gitlab-mock-standalone.yml
  spec/fixture/gitlab/responses/dependabot.yml.json
  spec/fixture/gitlab/responses/labels.json
  spec/fixture/gitlab/responses/merge_request_dependabot_omnibus.json
  spec/fixture/gitlab/responses/merge_request_rubocop.json
  spec/fixture/gitlab/responses/project.json
  spec/fixture/gitlab/responses/users.json
Due: terraform-init, terraform-build, container-scan, deploy

Update buildkit version
  .gitlab/ci/jobs.gitlab-ci.yml
Due: none

Reuse COMPOSE_PROJECT_NAME env var
  .gitlab/ci/jobs.gitlab-ci.yml
  .gitlab/script/run-standalone.sh
Due: none

Bump docker from 20.10.11 to 20.10.12 in /.gitlab/docker/ci
  .gitlab/ci/jobs.gitlab-ci.yml
  .gitlab/docker/ci/Dockerfile
Due: none

Refactor controller tests to use airborne
  Gemfile
  Gemfile.lock
  app/controllers/api/hooks_controller.rb
  app/controllers/api/registration_controller.rb
  app/services/webhooks/comment_event_handler.rb
  app/services/webhooks/pipeline_event_handler.rb
  app/services/webhooks/push_event_handler.rb
  app/services/webhooks/system_hook_handler.rb
  spec/api_helper.rb
  spec/controllers/api/hooks_controller_spec.rb
  spec/controllers/api/notify_release_controller_spec.rb
  spec/controllers/api/projects_controller_spec.rb
  spec/controllers/api/registration_controller_spec.rb
  spec/controllers/dependabot_controller_spec.rb
  spec/controllers/job_controller_spec.rb
  spec/rack_helper.rb
  spec/rails_helper.rb
  spec/services/webhooks/comment_event_handler_spec.rb
  spec/services/webhooks/pipeline_event_handler_spec.rb
  spec/services/webhooks/push_event_handler_spec.rb
  spec/services/webhooks/system_hook_handler_spec.rb
Due: terraform-init, dependency-scan, terraform-build, deploy

Bump rails from 6.1.4.1 to 6.1.4.2
  Gemfile.lock
Due: terraform-init, dependency-scan, terraform-build, deploy

Bump dependabot-omnibus from 0.169.5 to 0.169.6
  Dockerfile
  Gemfile
  Gemfile.lock
Due: terraform-init, dependency-scan, terraform-build, container-scan, deploy

Bump rails from 6.1.4.2 to 6.1.4.3
  Gemfile.lock
Due: terraform-init, dependency-scan, terraform-build, deploy

Bump simplecov-cobertura from 2.0.0 to 2.1.0
  Gemfile
  Gemfile.lock
Due: terraform-init, dependency-scan, terraform-build, deploy

Bump rails from 6.1.4.3 to 6.1.4.4
  Gemfile.lock
Due: terraform-init, dependency-scan, terraform-build, deploy

respect directory when closing superseeded merge requests
  app/services/dependabot/merge_request_service.rb
Due: terraform-init, terraform-build, deploy

Automatically resolve bot command discussions
  app/jobs/merge_request_recreation_job.rb
  app/services/webhooks/comment_event_handler.rb
  spec/jobs/merge_request_recreation_job_spec.rb
  spec/services/webhooks/comment_event_handler_spec.rb
Due: terraform-init, terraform-build, deploy

[BREAKING] Capture run errors on standalone run and fail if any present
  Gemfile
  Gemfile.lock
  app/helpers/application_helper.rb
  app/jobs/dependency_update_job.rb
  app/services/update_failures.rb
  lib/tasks/dependabot.rake
  spec/controllers/dependabot_controller_spec.rb
  spec/jobs/dependency_update_job_spec.rb
  spec/tasks/dependabot_spec.rb
Due: terraform-init, dependency-scan, terraform-build, deploy

Correctly fetch milestone_id from title
  app/services/gitlab/merge_request/creator.rb
  app/services/gitlab/milestone_finder.rb
  spec/fixture/gitlab/mocks/gitlab-mock-standalone.yml
  spec/services/gitlab/merge_request/creator_spec.rb
  spec/services/gitlab/milestone_finder_spec.rb
Due: terraform-init, terraform-build, deploy

Log conflicting dependencies when update is impossible
  app/services/dependabot/update_checker.rb
  spec/services/dependabot/update_checker_spec.rb
Due: terraform-init, terraform-build, deploy

Update devcontainer setup
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  Dockerfile
Due: terraform-init, terraform-build, container-scan, deploy

Remove OpenStruct usage
  spec/services/dependabot/config_fetcher_spec.rb
  spec/services/dependabot/merge_request_service_spec.rb
  spec/services/dependabot/merge_request_updater_spec.rb
  spec/services/dependabot/project_creator_spec.rb
  spec/services/dependabot/project_sync_spec.rb
  spec/services/dependabot/update_service_spec.rb
  spec/services/gitlab/client_with_retry_spec.rb
  spec/services/gitlab/hooks/creator_spec.rb
  spec/services/gitlab/hooks/finder_spec.rb
  spec/services/gitlab/hooks/updater_spec.rb
  spec/services/gitlab/merge_request/creator_spec.rb
  spec/services/gitlab/merge_request/finder_spec.rb
  spec/services/gitlab/merge_request/updater_spec.rb
  spec/services/gitlab/user_finder_spec.rb
Due: none

Correctly set arguments in dependency updates job
  app/jobs/dependency_update_job.rb
Due: terraform-init, terraform-build, deploy

Improve dev setup
  .devcontainer/docker-compose.yml
  .gitlab-ci.yml
  .gitlab/script/run-standalone.sh
  script/set-mock.sh
  spec/fixture/gitlab/mocks/gitlab-mock-proxy.yml
  spec/fixture/gitlab/mocks/gitlab-mock-standalone.yml
Due: none

Use correct cache key for config from different branches
  app/services/dependabot/config_fetcher.rb
Due: terraform-init, terraform-build, deploy

Strip protocol from npm private registries
  app/services/dependabot/registries_parser.rb
  spec/services/dependabot/config_parser_spec.rb
  spec/services/dependabot/registries_parser_spec.rb
Due: terraform-init, terraform-build, deploy

Strip protocol from private docker registries
  app/services/dependabot/registries_parser.rb
  spec/dependabot_helper.rb
  spec/services/dependabot/registries_parser_spec.rb
Due: terraform-init, terraform-build, deploy

Update cached config on ProjectCreator call
  app/services/dependabot/project_creator.rb
Due: terraform-init, terraform-build, deploy

Remove unused update_cache parameter in config fetcher
  app/services/dependabot/config_fetcher.rb
  app/services/gitlab/config/fetcher.rb
  spec/services/dependabot/config_fetcher_spec.rb
  spec/services/dependabot/merge_request_updater_spec.rb
  spec/services/dependabot/project_creator_spec.rb
Due: terraform-init, terraform-build, deploy

Remove volumes in devcontainer setup
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
Due: none

Correctly pass registries credentials to core updaters
  app/services/dependabot/file_fetcher.rb
  app/services/dependabot/file_updater.rb
  app/services/dependabot/update_checker.rb
  spec/services/dependabot/file_updater_spec.rb
  spec/services/dependabot/update_checker_spec.rb
Due: terraform-init, terraform-build, deploy

Bump git from 1.9.1 to 1.10.0
  Gemfile
  Gemfile.lock
Due: terraform-init, dependency-scan, terraform-build, deploy

Bump dependabot-omnibus from 0.169.6 to 0.169.7
  Dockerfile
  Gemfile
  Gemfile.lock
Due: terraform-init, dependency-scan, terraform-build, container-scan, deploy

Strip protocol from private terraform registries
  app/services/dependabot/registries_parser.rb
Due: terraform-init, terraform-build, deploy

Path conditions:
  terraform-init: (any of: app/**/*, config/**/*, kube/**/*, public/**/*, terraform/**/*, bin/rails, lib/tasks/dependabot.rake, config.ru, Dockerfile, Gemfile, Gemfile.lock, Rakefile) or (any of: terraform/**/*)
  dependency-scan: any of: Gemfile, Gemfile.lock
  terraform-fmt: any of: terraform/**/*
  terraform-validate: any of: terraform/**/*
  build-ruby-image: any of: .gitlab/ci/Dockerfile
  terraform-build: (any of: app/**/*, config/**/*, kube/**/*, public/**/*, terraform/**/*, bin/rails, lib/tasks/dependabot.rake, config.ru, Dockerfile, Gemfile, Gemfile.lock, Rakefile) or (any of: terraform/**/*)
  container-scan: any of: Dockerfile
  release-ruby-image: any of: .gitlab/ci/Dockerfile
  deploy: any of: app/**/*, config/**/*, kube/**/*, public/**/*, terraform/**/*, bin/rails, lib/tasks/dependabot.rake, config.ru, Dockerfile, Gemfile, Gemfile.lock, Rakefile
