Repository luca-bassoricci/dependabot: changes, and which GitLab CI jobs are due for each by the changed paths.
All: terraform-init, dependency-scan, terraform-fmt, terraform-validate, build-ruby-image, terraform-build, container-scan, release-ruby-image, deploy

dependency-scan:
  needs:
  - cache-dependencies

terraform-fmt:
  needs:
  - terraform-init

terraform-validate:
  needs:
  - terraform-init

terraform-build:
  needs:
  - terraform-init
  - terraform-fmt
  - terraform-validate

container-scan:
  needs:
  - build-app-image

release-ruby-image:
  dependencies: []

deploy:
  dependencies:
  - terraform-init
  environment:
    name: $TF_STATE_NAME
    url: https://$DEPENDABOT_HOST
    on_stop: destroy

development-dependency: bump rubocop from 1.22.1 to 1.22.2
  Gemfile
  Gemfile.lock
Due: terraform-init, dependency-scan, terraform-build, deploy

dependency: bump anyway_config from 2.2.1 to 2.2.2
  Gemfile.lock
Due: terraform-init, dependency-scan, terraform-build, deploy

dependency: bump dependabot-omnibus from 0.163.0 to 0.164.1
  Dockerfile
  Gemfile
  Gemfile.lock
Due: terraform-init, dependency-scan, terraform-build, container-scan, deploy

chore: remove custom monkeypatch for fork support
  app/services/gitlab/merge_request/creator.rb
  app/services/gitlab/merge_request/updater.rb
  config/initializers/dependabot.rb
  spec/services/gitlab/merge_request/creator_spec.rb
  spec/services/gitlab/merge_request/updater_spec.rb
Due: terraform-init, terraform-build, deploy

development-dependency: bump rubocop from 1.22.2 to 1.22.3
  Gemfile
  Gemfile.lock
Due: terraform-init, dependency-scan, terraform-build, deploy

development-dependency: bump hashicorp/google in /terraform
  terraform/.terraform.lock.hcl
  terraform/main.tf
Due: terraform-init, terraform-fmt, terraform-validate, terraform-build, deploy

development-dependency: bump rubocop-performance from 1.11.5 to 1.12.0
  Gemfile
  Gemfile.lock
Due: terraform-init, dependency-scan, terraform-build, deploy

Update to v0.10.7
  CHANGELOG.md
Due: none

dependency: bump sidekiq from 6.2.2 to 6.3.0
  Gemfile
  Gemfile.lock
Due: terraform-init, dependency-scan, terraform-build, deploy

chore: cleanup sidekiq logger patch
  config/initializers/01_sidekiq.rb
Due: terraform-init, terraform-build, deploy

chore: bump ci bundler version
  .gitlab/ci/Dockerfile
Due: build-ruby-image, release-ruby-image

chore: move production to different cluster
  terraform/.terraform.lock.hcl
  terraform/main.tf
  terraform/production.tf
  terraform/variables.tf
Due: terraform-init, terraform-fmt, terraform-validate, terraform-build, deploy

dependency: bump sidekiq from 6.3.0 to 6.3.1
  Gemfile
  Gemfile.lock
Due: terraform-init, dependency-scan, terraform-build, deploy

development-dependency: bump hashicorp/helm in /terraform
  terraform/.terraform.lock.hcl
Due: terraform-init, terraform-fmt, terraform-validate, terraform-build, deploy

development-dependency: bump rubocop-rspec from 2.5.0 to 2.6.0
  Gemfile
  Gemfile.lock
Due: terraform-init, dependency-scan, terraform-build, deploy

dependency: bump dependabot-omnibus from 0.164.1 to 0.165.0
  Dockerfile
  Gemfile
  Gemfile.lock
Due: terraform-init, dependency-scan, terraform-build, container-scan, deploy

improvement: Add rake task for pending migration check
  lib/tasks/dependabot.rake
Due: terraform-init, terraform-build, deploy

Update to v0.10.8
  CHANGELOG.md
Due: none

chore: add custom healthcheck config to production deployment
  terraform/main.tf
  terraform/production.tf
Due: terraform-init, terraform-fmt, terraform-validate, terraform-build, deploy

fix: close redis connection from healthcheck probes
  config/initializers/healthcheck.rb
  lib/tasks/dependabot.rake
  spec/tasks/dependabot_spec.rb
Due: terraform-init, terraform-build, deploy

Revert "Merge branch 'chore-custom-healthcheck' into 'master'"
  terraform/main.tf
  terraform/production.tf
Due: terraform-init, terraform-fmt, terraform-validate, terraform-build, deploy

chore: update production deployment
  terraform/main.tf
  terraform/production.tf
Due: terraform-init, terraform-fmt, terraform-validate, terraform-build, deploy

dependency: bump dependabot-omnibus from 0.165.0 to 0.166.0
  Dockerfile
  Gemfile
  Gemfile.lock
Due: terraform-init, dependency-scan, terraform-build, container-scan, deploy

dependency: bump sentry-sidekiq, sentry-rails and sentry-ruby
  Gemfile
  Gemfile.lock
Due: terraform-init, dependency-scan, terraform-build, deploy

dependency: bump dependabot-omnibus from 0.166.0 to 0.166.1
  Dockerfile
  Gemfile
  Gemfile.lock
Due: terraform-init, dependency-scan, terraform-build, container-scan, deploy

chore: Update deployment chart
  terraform/main.tf
Due: terraform-init, terraform-fmt, terraform-validate, terraform-build, deploy

Add chart repo to the list of projects
  terraform/production.tf
Due: terraform-init, terraform-fmt, terraform-validate, terraform-build, deploy

development-dependency: bump hashicorp/google in /terraform
  terraform/.terraform.lock.hcl
Due: terraform-init, terraform-fmt, terraform-validate, terraform-build, deploy

development-dependency: bump rubocop from 1.22.3 to 1.23.0
  Gemfile
  Gemfile.lock
Due: terraform-init, dependency-scan, terraform-build, deploy

doc: Update chart location in README.md
  README.md
Due: none

dependency: bump dependabot-omnibus from 0.166.1 to 0.167.0
  Dockerfile
  Gemfile
  Gemfile.lock
Due: terraform-init, dependency-scan, terraform-build, container-scan, deploy

fix: allow to set custom branch prefix option
  app/contracts/updates_config_contract.rb
Due: terraform-init, terraform-build, deploy

chore: Update chart repo release task
  lib/task_helpers/chart_release_helper.rb
Due: none

chore: remove gitlab monkeypatch
  config/initializers/rebase_merge_request.rb
Due: terraform-init, terraform-build, deploy

add changelog trailer to updte commit message
  lib/task_helpers/chart_release_helper.rb
Due: none

Update to v0.10.9
  CHANGELOG.md
Due: none

chore: correct chart update setup job
  .gitlab/ci/jobs.gitlab-ci.yml
  script/setup-git.sh
Due: none

chore: update chart version to 0.2.0
  terraform/development.tf
  terraform/main.tf
  terraform/production.tf
Due: terraform-init, terraform-fmt, terraform-validate, terraform-build, deploy

development-dependency: bump solargraph from 0.44.0 to 0.44.1
  Gemfile
  Gemfile.lock
Due: terraform-init, dependency-scan, terraform-build, deploy

Path conditions:
  terraform-init: (any of: app/**/*, config/**/*, kube/**/*, public/**/*, terraform/**/*, bin/rails, lib/tasks/dependabot.rake, config.ru, Dockerfile, Gemfile, Gemfile.lock, Rakefile) or (any of: terraform/**/*)
  dependency-scan: any of: Gemfile, Gemfile.lock
  terraform-fmt: any of: terraform/**/*
  terraform-validate: any of: terraform/**/*
  build-ruby-image: any of: .gitlab/ci/Dockerfile
  terraform-build: (any of: app/**/*, config/**/*, kube/**/*, public/**/*, terraform/**/*, bin/rails, lib/tasks/dependabot.rake, config.ru, Dockerfile, Gemfile, Gemfile.lock, Rakefile) or (any of: terraform/**/*)
  container-scan: any of: Dockerfile
  release-ruby-image: any of: .gitlab/ci/Dockerfile
  deploy: any of: app/**/*, config/**/*, kube/**/*, public/**/*, terraform/**/*, bin/rails, lib/tasks/dependabot.rake, config.ru, Dockerfile, Gemfile, Gemfile.lock, Rakefile
