Repository luca-bassoricci/dependabot: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ruby-image, dependency-scan, container-scan, release-ruby-image, deploy-production

deploy-production:
  tags:
  - deploy
  environment:
    name: production
    url: $DEPENDABOT_URL_PRODUCTION
    on_stop: stop-production
  resource_group: production
  variables:
    DEPENDABOT_URL: $DEPENDABOT_URL_PRODUCTION

dependency: bump dependabot-omnibus from 0.160.0 to 0.160.1
  Dockerfile
  Gemfile
  Gemfile.lock
Due: dependency-scan, container-scan, deploy-production

development-dependency: bump rubocop from 1.19.1 to 1.20.0
  Gemfile
  Gemfile.lock
Due: dependency-scan, deploy-production

dependency: bump bootsnap from 1.7.7 to 1.8.1
  Gemfile.lock
Due: dependency-scan, deploy-production

dependency: bump yabeda-prometheus-mmap from 0.2.0 to 0.3.0
  Gemfile
  Gemfile.lock
Due: dependency-scan, deploy-production

feature: comment on closed mrs about ignoring same version update
  app/services/webhooks/merge_request_event_handler.rb
  spec/services/webhooks/merge_request_event_handler_spec.rb
Due: deploy-production

chore: refactor mr event main call method
  app/services/webhooks/merge_request_event_handler.rb
Due: deploy-production

improvement: allow reopening closed mrs
  app/controllers/api/hooks_controller.rb
  app/services/webhooks/merge_request_event_handler.rb
  spec/services/webhooks/merge_request_event_handler_spec.rb
Due: deploy-production

dependency: bump sentry-rails, sentry-ruby and sentry-sidekiq
  Gemfile
  Gemfile.lock
Due: dependency-scan, deploy-production

dependency: bump dependabot-omnibus from 0.160.1 to 0.161.0
  Dockerfile
  Gemfile
  Gemfile.lock
Due: dependency-scan, container-scan, deploy-production

dependency: pin faraday to 1.7.0
  Gemfile.lock
Due: dependency-scan, deploy-production

dependency: bump dependabot-omnibus from 0.161.0 to 0.162.0
  Dockerfile
  Gemfile
  Gemfile.lock
Due: dependency-scan, container-scan, deploy-production

development-dependency: bump spring from 2.1.1 to 3.0.0
  Gemfile
  Gemfile.lock
Due: dependency-scan, deploy-production

dependency: bump sentry-sidekiq from 4.7.1 to 4.7.2
  Gemfile.lock
Due: dependency-scan, deploy-production

dependency: bump sentry-rails from 4.7.1 to 4.7.2
  Gemfile.lock
Due: dependency-scan, deploy-production

dependency: bump sentry-ruby from 4.7.1 to 4.7.2
  Gemfile.lock
Due: dependency-scan, deploy-production

development-dependency: bump rubocop-rails from 2.11.3 to 2.12.1
  Gemfile
  Gemfile.lock
Due: dependency-scan, deploy-production

dependency: bump mongoid from 7.3.2 to 7.3.3
  Gemfile.lock
Due: dependency-scan, deploy-production

development-dependency: bump rubocop-rails from 2.12.1 to 2.12.2
  Gemfile.lock
Due: dependency-scan, deploy-production

chore: add terraform deployment
  .gitignore
  .gitlab-ci.yml
  .gitlab/ci/jobs.gitlab-ci.yml
  kube/helm/development.yaml.gotmpl
  kube/helm/helmfile.yaml
  kube/helm/production.yaml.gotmpl
  terraform/.terraform.lock.hcl
  terraform/main.tf
  terraform/values.tf
  terraform/variables.tf
Due: deploy-production

use gitlab runners for prod deployment
  .gitlab-ci.yml
  terraform/main.tf
  terraform/variables.tf
Due: none

chore: deploy on ci changes
  .gitlab-ci.yml
Due: none

chore: manage terraform versions
  .gitlab/dependabot.yml
Due: none

chore: remove ssl config
  terraform/values.tf
Due: none

chore: add terraform to prod deploy changelist
  .gitlab-ci.yml
Due: none

chore: remove needs block from deploy
  .gitlab-ci.yml
Due: none

chore: manage digital ocean resources
  .gitlab-ci.yml
  terraform/.terraform.lock.hcl
  terraform/main.tf
  terraform/values.tf
  terraform/values/common.tpl
  terraform/values/development.tpl
  terraform/values/production.tpl
  terraform/variables.tf
Due: none

chore: split development and prod helm releases
  .gitlab-ci.yml
  .gitlab/ci/jobs.gitlab-ci.yml
  terraform/main.tf
  terraform/values/common.tpl
  terraform/values/production.tpl
  terraform/variables.tf
Due: none

chore: increase prod worker liveness probe values
  terraform/values/production.tpl
Due: none

chore: cache terraform init and build results
  .gitlab-ci.yml
  .gitlab/ci/jobs.gitlab-ci.yml
  terraform/.terraform.lock.hcl
  terraform/test
Due: none

chore: rename deply jobs
  .gitlab-ci.yml
  .gitlab/ci/jobs.gitlab-ci.yml
Due: none

development-dependency: bump rubocop from 1.20.0 to 1.21.0
  Gemfile
  Gemfile.lock
Due: dependency-scan, deploy-production

chore: delete test file
  terraform/test
Due: none

Update to v0.10.0
  CHANGELOG.md
Due: none

dependency: bump dry-validation from 1.6.0 to 1.7.0
  Gemfile
  Gemfile.lock
  app/contracts/updates_config_contract.rb
Due: dependency-scan, deploy-production

chore: improve pipeline speed
  .gitlab-ci.yml
  .gitlab/ci/jobs.gitlab-ci.yml
Due: none

chore: add web_url to mocked project response
  spec/fixture/gitlab/responses/project.json
Due: none

chore: add manual deploy option for unrelated changes
  .gitlab-ci.yml
Due: none

chore: tweak sidekiq healthcheck and resource limits
  config/initializers/01_sidekiq.rb
  lib/tasks/dependabot.rake
  script/build.sh
  terraform/values/production.tpl
Due: deploy-production

dependency: bump bootsnap from 1.8.1 to 1.9.0
  Gemfile.lock
Due: dependency-scan, deploy-production

Improvement: use sidekiq_alive for worker healthchecks
  Gemfile
  Gemfile.lock
  app/jobs/healthcheck_job.rb
  config/application.rb
  config/configs/healthcheck_config.rb
  config/initializers/01_sidekiq.rb
  kube/sidekiq-healthcheck.sh
  lib/tasks/dependabot.rake
  spec/jobs/healthcheck_job_spec.rb
  spec/tasks/dependabot_spec.rb
Due: dependency-scan, deploy-production

Path conditions:
  build-ruby-image: any of: .gitlab/ci/Dockerfile
  dependency-scan: any of: Gemfile, Gemfile.lock
  container-scan: any of: Dockerfile
  release-ruby-image: any of: .gitlab/ci/Dockerfile
  deploy-production: any of: app/**/*, config/**/*, kube/**/*, public/**/*, bin/rails, lib/tasks/dependabot.rake, config.ru, Dockerfile, Gemfile, Gemfile.lock, Rakefile
