Repository luca-bassoricci/dependabot: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-mock-image, build-ruby-image, dependency-scan, container-scan, e2e, release-ruby-image, deploy-production

e2e:
  variables:
    SETTINGS__GITHUB_ACCESS_TOKEN: $GITHUB_ACCESS_TOKEN

deploy-production:
  tags:
  - deploy
  environment:
    name: production
    url: $DEPENDABOT_URL_PRODUCTION
    on_stop: stop-production
  resource_group: production
  variables:
    DEPENDABOT_URL: $DEPENDABOT_URL_PRODUCTION

improvement: check for cron updates on project sync
  app/services/dependabot/project_sync.rb
  spec/services/dependabot/project_sync_spec.rb
Due: deploy-production

chore: add full config path to log
  app/services/dependabot/project_sync.rb
Due: deploy-production

Update to v0.8.2
  CHANGELOG.md
Due: none

fix: correctly fetch id of forked_from project
  app/services/dependabot/project_creator.rb
Due: deploy-production

improvement: add rake task for project removal
  README.md
  lib/tasks/dependabot.rake
  spec/tasks/dependabot_spec.rb
Due: deploy-production

doc: document option for fork workflow
  README.md
  doc/dependabot.md
Due: none

fix: pass correct project id for forked mrs
  app/services/dependabot/merge_request_service.rb
  config/initializers/dependabot.rb
  kube/helm/development.yaml.gotmpl
  spec/services/dependabot/merge_request_service_spec.rb
Due: deploy-production

chore: update e2e tests with proper mocked responses
  app/services/dependabot/merge_request_service.rb
  spec/fixture/gitlab/fake_gitlab.rb
  spec/fixture/gitlab/responses/merge_request_dependabot_omnibus.json
  spec/fixture/gitlab/responses/merge_request_rubocop.json
Due: build-mock-image, e2e, deploy-production

fix: update setting reviewers
  Gemfile
  Gemfile.lock
  config/initializers/dependabot.rb
Due: dependency-scan, deploy-production

chore: update gitlab mock with approval rules endpoint
  spec/fixture/gitlab/fake_gitlab.rb
Due: build-mock-image, e2e

chore: remove project registration job
  kube/helm/production.yaml.gotmpl
Due: deploy-production

fix: update ignored version string to be properly matched by semanticrange
  app/services/dependabot/rule_handler.rb
Due: deploy-production

Remove duplicate option from table
  README.md
Due: none

fix: correctly pass keyword args for rule handler
  app/services/dependabot/rule_handler.rb
Due: deploy-production

fix: do not set required approvals by default
  config/initializers/dependabot.rb
Due: deploy-production

chore: add ignored dependency to e2e test
  spec/dependabot_helper.rb
  spec/fixture/gitlab/responses/Gemfile.json
  spec/fixture/gitlab/responses/Gemfile.lock.json
  spec/fixture/gitlab/responses/dependabot.yml
  spec/services/dependabot/config_parser_spec.rb
Due: build-mock-image, e2e

doc: move config options table under dependabot.yml
  README.md
Due: none

improvement: move ignore conditions to update checker
  app/services/dependabot/rule_handler.rb
  app/services/dependabot/update_checker.rb
  spec/services/dependabot/rule_handler_spec.rb
  spec/services/dependabot/update_checker_spec.rb
Due: deploy-production

chore: remove semantic_range gem
  Gemfile
  Gemfile.lock
Due: dependency-scan, deploy-production

chore: use dependabot wildcard matcher to compare dependency-name
  app/services/dependabot/rule_handler.rb
  doc/dependabot.md
Due: deploy-production

improvement: allow passing reviewers and approvers separately
  app/services/dependabot/config_parser.rb
  app/services/gitlab/merge_request/creator.rb
  config/initializers/dependabot.rb
  doc/dependabot.md
  spec/dependabot_helper.rb
  spec/fixture/gitlab/responses/dependabot.yml
  spec/services/gitlab/merge_request/creator_spec.rb
Due: build-mock-image, e2e, deploy-production

Update to v0.9.0
  CHANGELOG.md
Due: none

development-dependency: bump rubocop from 1.18.4 to 1.19.0
  Gemfile
  Gemfile.lock
Due: dependency-scan, deploy-production

development-dependency: bump reek from 6.0.5 to 6.0.6
  Gemfile.lock
Due: dependency-scan, deploy-production

dependency: bump sentry-rails from 4.6.4 to 4.6.5
  Gemfile.lock
Due: dependency-scan, deploy-production

dependency: bump sentry-ruby from 4.6.4 to 4.6.5
  Gemfile.lock
Due: dependency-scan, deploy-production

dependency: bump sentry-sidekiq from 4.6.4 to 4.6.5
  Gemfile.lock
Due: dependency-scan, deploy-production

improvement: add rescue for BadRequest responses from gitlab
  app/services/gitlab/config/fetcher.rb
Due: deploy-production

chore: simplify configuration loading
  .pre-commit-config.yaml
  config/app.yml
  config/application.rb
  config/credentials.yml
  kube/helm/helmfile.yaml
  spec/config_helper.rb
  spec/controllers/api/hooks_controller_spec.rb
  spec/rails_helper.rb
  spec/services/dependabot/credentials_spec.rb
  spec/services/dependabot/project_creator_spec.rb
  spec/services/dependabot/project_registration_spec.rb
Due: deploy-production

Update to v0.9.1
  CHANGELOG.md
Due: none

improvement: add support for forked mrs for standalone mode
  app/services/dependabot/project_creator.rb
  app/services/dependabot/update_service.rb
  spec/services/dependabot/update_service_spec.rb
Due: deploy-production

doc: update fork support in documentation
  README.md
Due: none

fix: do not run auto-merge immediatelly for deployed version
  app/services/dependabot/merge_request_service.rb
  spec/services/dependabot/merge_request_service_spec.rb
Due: deploy-production

fix: local development improvements
  .devcontainer/devcontainer.json
  .gitignore
  Dockerfile
  docker-compose-dev.yml
Due: build-mock-image, container-scan, e2e, deploy-production

chore: fix rspec random failure
  spec/services/dependabot/update_service_spec.rb
Due: none

development-dependency: bump rspec-rails from 5.0.1 to 5.0.2
  Gemfile
  Gemfile.lock
Due: dependency-scan, deploy-production

chore: skip allure report generation for forks
  .gitlab-ci.yml
Due: none

improvement: add an easy way to execute a job
  app/controllers/project_controller.rb
  app/views/dependabot/index.html.erb
  config/routes.rb
Due: deploy-production

Update to v0.9.2
  CHANGELOG.md
Due: none

dependency: bump dependabot-omnibus from 0.159.0 to 0.159.1
  Dockerfile
  Gemfile
  Gemfile.lock
Due: build-mock-image, dependency-scan, container-scan, e2e, deploy-production

Path conditions:
  build-mock-image: any of: Dockerfile, spec/fixture/gitlab/**/*
  build-ruby-image: any of: .gitlab/ci/Dockerfile
  dependency-scan: any of: Gemfile, Gemfile.lock
  container-scan: any of: Dockerfile
  e2e: any of: Dockerfile, spec/fixture/gitlab/**/*
  release-ruby-image: any of: .gitlab/ci/Dockerfile
  deploy-production: any of: app/**/*, config/**/*, kube/**/*, public/**/*, bin/rails, lib/tasks/dependabot.rake, config.ru, Dockerfile, Gemfile, Gemfile.lock, Rakefile
