Repository luca-bassoricci/dependabot: changes, and which GitLab CI jobs are due for each by the changed paths.
All: terraform-init, dependency-scan, terraform-fmt, terraform-validate, build-ruby-image, terraform-build, container-scan, release-ruby-image, deploy

Path conditions:
  terraform-init: (any of: app/**/*, config/**/*, kube/**/*, public/**/*, terraform/**/*, bin/rails, lib/tasks/dependabot.rake, config.ru, Dockerfile, Gemfile, Gemfile.lock, Rakefile) or (any of: terraform/**/*)
  dependency-scan: any of: Gemfile, Gemfile.lock
  terraform-fmt: any of: terraform/**/*
  terraform-validate: any of: terraform/**/*
  build-ruby-image: any of: .gitlab/ci/Dockerfile
  terraform-build: (any of: app/**/*, config/**/*, kube/**/*, public/**/*, terraform/**/*, bin/rails, lib/tasks/dependabot.rake, config.ru, Dockerfile, Gemfile, Gemfile.lock, Rakefile) or (any of: terraform/**/*)
  container-scan: any of: Dockerfile
  release-ruby-image: any of: .gitlab/ci/Dockerfile
  deploy: any of: app/**/*, config/**/*, kube/**/*, public/**/*, terraform/**/*, bin/rails, lib/tasks/dependabot.rake, config.ru, Dockerfile, Gemfile, Gemfile.lock, Rakefile

ci: add memory requests definition to prod deployment
  terraform/production.tf
Due: terraform-init, terraform-fmt, terraform-validate, terraform-build, deploy

ci: add cpu requests definition to prod deployment
  terraform/production.tf
Due: terraform-init, terraform-fmt, terraform-validate, terraform-build, deploy

ci: add redis resource definitions
  terraform/production.tf
Due: terraform-init, terraform-fmt, terraform-validate, terraform-build, deploy

dependency: bump dependabot-omnibus from 0.167.0 to 0.169.0
  Dockerfile
  Gemfile
  Gemfile.lock
Due: terraform-init, dependency-scan, terraform-build, container-scan, deploy

development-dependency: bump simplecov-cobertura from 1.4.2 to 2.0.0
  .gitlab/ci/jobs.gitlab-ci.yml
  Gemfile
  Gemfile.lock
Due: terraform-init, dependency-scan, terraform-build, deploy

dependency: bump bootsnap from 1.9.1 to 1.9.3
  Gemfile.lock
Due: terraform-init, dependency-scan, terraform-build, deploy

development-dependency: bump solargraph from 0.44.1 to 0.44.2
  Gemfile
  Gemfile.lock
Due: terraform-init, dependency-scan, terraform-build, deploy

dependency: bump sentry-sidekiq, sentry-rails and sentry-ruby
  Gemfile.lock
Due: terraform-init, dependency-scan, terraform-build, deploy

ci: Remove separate coverage jobs
  .gitlab-ci.yml
  .gitlab/ci/jobs.gitlab-ci.yml
  lib/tasks/coverage.rake
Due: none

ci: Add codecov integration
  .codecov.yml
  .gitlab/ci/jobs.gitlab-ci.yml
  script/download-codacy.sh
  script/download-coverage.sh
Due: none

development-dependency: bump spring from 3.0.0 to 3.1.1
  Gemfile
  Gemfile.lock
Due: terraform-init, dependency-scan, terraform-build, deploy

dependency: bump dependabot-omnibus from 0.169.0 to 0.169.1
  Dockerfile
  Gemfile
  Gemfile.lock
Due: terraform-init, dependency-scan, terraform-build, container-scan, deploy

development-dependency: bump hashicorp/kubernetes from 2.6.1 to 2.7.0 in /terraform
  terraform/.terraform.lock.hcl
  terraform/main.tf
Due: terraform-init, terraform-fmt, terraform-validate, terraform-build, deploy

dependency: bump dependabot-omnibus from 0.169.1 to 0.169.2
  Dockerfile
  Gemfile
  Gemfile.lock
Due: terraform-init, dependency-scan, terraform-build, container-scan, deploy

development-dependency: bump hashicorp/google from 4.1.0 to 4.2.0 in /terraform
  terraform/.terraform.lock.hcl
Due: terraform-init, terraform-fmt, terraform-validate, terraform-build, deploy

dependency: bump dependabot-omnibus from 0.169.2 to 0.169.3
  Dockerfile
  Gemfile
  Gemfile.lock
Due: terraform-init, dependency-scan, terraform-build, container-scan, deploy

fix: correctly handle single dependency update
  app/services/dependabot/update_service.rb
  spec/services/dependabot/update_service_spec.rb
Due: terraform-init, terraform-build, deploy

development-dependency: bump from 4.2.0 to 4.2.1 in /terraform
  terraform/.terraform.lock.hcl
Due: terraform-init, terraform-fmt, terraform-validate, terraform-build, deploy

fix: correctly handle single dependency not present in dependency file
  app/controllers/api/notify_release_controller.rb
  app/services/dependabot/dependency_updater.rb
  app/services/dependabot/merge_request_updater.rb
  app/services/dependabot/update_service.rb
  spec/services/dependabot/dependency_updater_spec.rb
Due: terraform-init, terraform-build, deploy

improvement: trigger notify release asynchronously
  app/controllers/api/notify_release_controller.rb
  app/jobs/notify_release_job.rb
  app/services/dependabot/dependency_updater.rb
  spec/controllers/api/notify_release_controller_spec.rb
  spec/jobs/notify_release_job_spec.rb
Due: terraform-init, terraform-build, deploy

improvement: add error response for missing projects on release_notify
  app/controllers/api/notify_release_controller.rb
  spec/controllers/api/notify_release_controller_spec.rb
Due: terraform-init, terraform-build, deploy

Update to v0.10.10
  CHANGELOG.md
Due: none

bump ci ruby version, remove custom image
  .gitlab-ci.yml
  .gitlab/ci/Dockerfile
  .gitlab/ci/jobs.gitlab-ci.yml
  .ruby-version
Due: build-ruby-image, release-ruby-image

use gitlab dependency proxy for docker images
  .gitlab/ci/jobs.gitlab-ci.yml
Due: none

add support for custom commit message trailers
  .pre-commit-config.yaml
  app/contracts/updates_config_contract.rb
  app/services/dependabot/config_parser.rb
  doc/dependabot.md
  hooks/prepare-commit-msg.rb
  spec/dependabot_helper.rb
  spec/fixture/gitlab/responses/dependabot.yml
  spec/services/dependabot/config_parser_spec.rb
Due: terraform-init, terraform-build, deploy

use gitlab changelog generation functionality
  .gitlab-ci.yml
  .gitlab/changelog_config.yml
  .gitlab/ci/jobs.gitlab-ci.yml
  .gitlab/ci/script/build.sh
  .gitlab/ci/script/changelog.sh
  .gitlab/ci/script/download-coverage.sh
  .gitlab/ci/script/utils.sh
  .gitlab/dependabot.yml
  CHANGELOG.archive.md
  VERSION
  lib/task_helpers/chart_release_helper.rb
  lib/task_helpers/release_helpers.rb
  lib/task_helpers/standalone_release_helper.rb
  lib/tasks/release.rake
  script/stop.sh
Due: none

Remove ci dockerfile dependency updates
  .gitlab/dependabot.yml
Due: none

Bump kubernetes from 2.7.0 to 2.7.1 in /terraform
  terraform/.terraform.lock.hcl
Due: terraform-init, terraform-fmt, terraform-validate, terraform-build, deploy

Update app version to v0.10.11
  VERSION
Due: none

Add changelog for version 0.10.11
  CHANGELOG.md
Due: none

Fix gitlab release creation
  .gitlab/ci/script/changelog.sh
Due: none

Add custom changelog template
  .gitlab/changelog_config.yml
Due: none

Bump google from 4.2.1 to 4.3.0 in /terraform
  terraform/.terraform.lock.hcl
Due: terraform-init, terraform-fmt, terraform-validate, terraform-build, deploy

Bump dependabot-omnibus from 0.169.3 to 0.169.4
  Dockerfile
  Gemfile
  Gemfile.lock
Due: terraform-init, dependency-scan, terraform-build, container-scan, deploy

Allow redundant pipeline to be canceled
  .gitlab/ci/jobs.gitlab-ci.yml
Due: none

Bump dependabot-omnibus from 0.169.4 to 0.169.5
  Dockerfile
  Gemfile
  Gemfile.lock
Due: terraform-init, dependency-scan, terraform-build, container-scan, deploy

Update production terraform deployment
  terraform/development.tf
  terraform/main.tf
  terraform/production.tf
  terraform/values/common.tpl
  terraform/variables.tf
Due: terraform-init, terraform-fmt, terraform-validate, terraform-build, deploy

[BREAKING] add get, add, and delete projects api endpoints
  Gemfile.lock
  README.md
  app/controllers/api/project/adds_controller.rb
  app/controllers/api/project/registration_controller.rb
  app/controllers/api/projects_controller.rb
  app/controllers/api/registration_controller.rb
  app/controllers/concerns/api/response.rb
  app/helpers/encrypt_helper.rb
  app/models/config.rb
  app/models/project.rb
  app/services/dependabot/project_creator.rb
  app/services/dependabot/project_remover.rb
  config/initializers/dependabot.rb
  config/routes.rb
  db/migrate/20211209205330_project_configs.rb
  spec/controllers/api/project/adds_controller_spec.rb
  spec/controllers/api/projects_controller_spec.rb
  spec/controllers/api/registration_controller_spec.rb
  spec/models/config_spec.rb
Due: terraform-init, dependency-scan, terraform-build, deploy

Add project update endpoint
  README.md
  app/controllers/api/projects_controller.rb
  config/routes.rb
  spec/controllers/api/projects_controller_spec.rb
  spec/rack_helper.rb
Due: terraform-init, terraform-build, deploy
