Repository luca-bassoricci/dependabot: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ruby-image, dependency-scan, container-scan, release-ruby-image, deploy-production

deploy-production:
  tags:
  - deploy
  environment:
    name: production
    url: $DEPENDABOT_URL_PRODUCTION
    on_stop: stop-production
  resource_group: production
  variables:
    DEPENDABOT_URL: $DEPENDABOT_URL_PRODUCTION

development-dependency: bump debian in /.gitlab/ci
  .gitlab/ci/Dockerfile
Due: build-ruby-image, release-ruby-image

development-dependency: bump rubocop-performance from 1.11.4 to 1.11.5
  Gemfile
  Gemfile.lock
Due: dependency-scan, deploy-production

dependency: bump dependabot-omnibus from 0.159.1 to 0.159.2
  Dockerfile
  Gemfile
  Gemfile.lock
Due: dependency-scan, container-scan, deploy-production

dependency: bump rails from 6.1.4 to 6.1.4.1
  Gemfile.lock
Due: dependency-scan, deploy-production

Generate allure test reports for master branch only
  .gitlab-ci.yml
  .gitlab/ci/jobs.gitlab-ci.yml
  spec/rails_helper.rb
Due: none

dependency: bump dependabot-omnibus from 0.159.2 to 0.160.0
  Dockerfile
  Gemfile
  Gemfile.lock
Due: dependency-scan, container-scan, deploy-production

development-dependency: bump rubocop from 1.19.0 to 1.19.1
  Gemfile
  Gemfile.lock
Due: dependency-scan, deploy-production

development-dependency: bump allure-rspec from 2.14.3 to 2.14.5
  Gemfile
  Gemfile.lock
Due: dependency-scan, deploy-production

chore: remove unused cache variable in build script
  script/build.sh
Due: none

chore: remove time values from .dependabot.yml
  .gitlab/dependabot.yml
Due: none

feature: Generate random cron if not provided
  app/services/cron/schedule.rb
  app/services/dependabot/config_fetcher.rb
  app/services/dependabot/config_parser.rb
  doc/dependabot.md
  kube/helm/production.yaml.gotmpl
  spec/services/cron/schedule_spec.rb
  spec/services/dependabot/config_parser_spec.rb
Due: deploy-production

generate random cron based on full dependency update entry
  app/services/cron/schedule.rb
  app/services/dependabot/config_parser.rb
  spec/services/cron/schedule_spec.rb
Due: deploy-production

chore: add mongoid migrations
  Gemfile
  Gemfile.lock
  app/models/project.rb
  db/migrate/20210820183037_projects.rb
Due: dependency-scan, deploy-production

Update to v0.9.3
  CHANGELOG.md
Due: none

chore: add db folder to final image
  .dockerignore
  kube/helm/development.yaml.gotmpl
  kube/helm/helmfile.yaml
Due: deploy-production

chore: add migration service to docker-compose
  docker-compose-prod.yml
Due: none

Update to v0.9.4
  CHANGELOG.md
Due: none

chore: add tasks to check mongodb and redis connections
  lib/tasks/dependabot.rake
Due: deploy-production

Update to v0.9.5
  CHANGELOG.md
Due: none

chore: update deployment chart version
  kube/helm/helmfile.yaml
Due: deploy-production

chore: add succesful log message to db and redis check
  lib/tasks/dependabot.rake
  spec/tasks/dependabot_spec.rb
Due: deploy-production

improvement: allow configuring mongodb connection with uri parameter
  config/initializers/mongoid.rb
  config/mongoid.yml
Due: deploy-production

chore: use mongodb uri for production only
  config/initializers/mongoid.rb
  kube/helm/helmfile.yaml
Due: deploy-production

chore: cleanup .dockerignore
  .dockerignore
Due: none

doc: document env variables used for db connections
  doc/environment.md
Due: none

chore: bump chart version
  kube/helm/helmfile.yaml
Due: deploy-production

chore: use mongodb atlas for deployed app
  kube/helm/production.yaml.gotmpl
Due: deploy-production

chore: remove code-quality job
  .gitlab-ci.yml
  .gitlab/ci/jobs.gitlab-ci.yml
Due: none

Update to v0.9.6
  CHANGELOG.md
Due: none

dependency: bump sidekiq from 6.2.1 to 6.2.2
  Gemfile
  Gemfile.lock
Due: dependency-scan, deploy-production

development-dependency: bump faker from 2.18.0 to 2.19.0
  Gemfile
  Gemfile.lock
Due: dependency-scan, deploy-production

Revert "Merge branch 'dependabot-bundler-sidekiq-6.2.2' into 'master'"
  Gemfile
  Gemfile.lock
Due: dependency-scan, deploy-production

improvement: [BREAKING] store all project and job information in db, improve index page
  .pryrc
  app/controllers/dependabot_controller.rb
  app/controllers/job_controller.rb
  app/controllers/project_controller.rb
  app/helpers/application_helper.rb
  app/helpers/dependabot_core_helper.rb
  app/jobs/dependency_update_job.rb
  app/models/job_errors.rb
  app/models/project.rb
  app/models/update_job.rb
  app/services/cron/job_sync.rb
  app/services/dependabot/merge_request_updater.rb
  app/services/dependabot/project_creator.rb
  app/services/dependabot/update_service.rb
  app/services/update_failures.rb
  app/services/webhooks/push_event_handler.rb
  app/views/dependabot/index.html.erb
  config/routes.rb
  kube/helm/helmfile.yaml
  lib/tasks/dependabot.rake
  spec/controllers/dependabot_controller_spec.rb
  spec/controllers/job_controller_spec.rb
  spec/jobs/dependency_update_job_spec.rb
  spec/rake_helper.rb
  spec/services/cron/job_sync_spec.rb
  spec/services/dependabot/update_service_spec.rb
  spec/tasks/dependabot_spec.rb
Due: deploy-production

dependency: bump yabeda-sidekiq from 0.8.0 to 0.8.1
  Gemfile
  Gemfile.lock
Due: dependency-scan, deploy-production

chore: use external buildkit builder
  .gitlab-ci.yml
  script/build.sh
Due: none

fix: do not count closed mrs towards configured limit
  app/services/dependabot/merge_request_service.rb
  app/services/dependabot/update_service.rb
  spec/services/dependabot/update_service_spec.rb
Due: deploy-production

Merge branch 'fix-incorrect-mr-count-detection' into 'master'
  app/services/dependabot/merge_request_service.rb
  app/services/dependabot/update_service.rb
  spec/services/dependabot/update_service_spec.rb
Due: deploy-production

Update to v0.9.7
  CHANGELOG.md
Due: none

Path conditions:
  build-ruby-image: any of: .gitlab/ci/Dockerfile
  dependency-scan: any of: Gemfile, Gemfile.lock
  container-scan: any of: Dockerfile
  release-ruby-image: any of: .gitlab/ci/Dockerfile
  deploy-production: any of: app/**/*, config/**/*, kube/**/*, public/**/*, bin/rails, lib/tasks/dependabot.rake, config.ru, Dockerfile, Gemfile, Gemfile.lock, Rakefile
