Repository luca-bassoricci/dependabot: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-mock-image, build-mock-image-fork, dependency-scan, dep-scanning-fork, container-scan, container-scan-fork, e2e, e2e-fork

build-mock-image:
  tags:
  - private

build-mock-image-fork:
  tags:
  - docker
  variables:
    FORK: 'true'

dependency-scan:
  tags:
  - private

container-scan:
  tags:
  - private

e2e:
  tags:
  - private
  variables:
    SETTINGS__GITHUB_ACCESS_TOKEN: $GITHUB_ACCESS_TOKEN

chore: Fix container scan rules
  .gitlab-ci.yml
Due: none

dependency: bump rails and mongoid
  Gemfile
  Gemfile.lock
Due: dependency-scan, dep-scanning-fork, container-scan, container-scan-fork

chore: bump webmock from 3.11.2 to 3.11.3
  Gemfile.lock
Due: dependency-scan, dep-scanning-fork, container-scan, container-scan-fork

chore: bump webmock from 3.11.3 to 3.12.0
  Gemfile
  Gemfile.lock
Due: dependency-scan, dep-scanning-fork, container-scan, container-scan-fork

chore: Add prepare-message git hook
  .gitlab/changelog_config.yml
  .gitlab/dependabot.yml
  .gitlab/release.yml
  .pre-commit-config.yaml
  hooks/prepare-commit-msg.rb
  lib/task_helpers/release_helpers.rb
Due: none

chore: skip hooks on changelog commit
  CHANGELOG.md
  lib/task_helpers/release_helpers.rb
Due: none

Update to v0.2.16
  .gitlab/changelog_config.yml
  CHANGELOG.md
Due: none

Update commit message prefix for development dependency updates
  .gitlab/dependabot.yml
Due: none

chore: automatically update helm chart on release
  .gitignore
  .gitlab-ci.yml
  .gitlab/ci/jobs.gitlab-ci.yml
  Gemfile
  Gemfile.lock
  lib/task_helpers/chart_release_helper.rb
  lib/tasks/release.rake
  script/setup-git.sh
Due: dependency-scan, dep-scanning-fork, container-scan, container-scan-fork

development-dependency: bump rubocop from 1.10.0 to 1.11.0
  Gemfile
  Gemfile.lock
Due: dependency-scan, dep-scanning-fork, container-scan, container-scan-fork

development-dependency: bump rubocop-performance from 1.9.2 to 1.10.0
  Gemfile
  Gemfile.lock
Due: dependency-scan, dep-scanning-fork, container-scan, container-scan-fork

Fix changelog entries
  .gitlab/changelog_config.yml
  lib/task_helpers/release_helpers.rb
Due: none

dependency: bump dependabot-omnibus from 0.133.6 to 0.134.1
  Dockerfile
  Gemfile
  Gemfile.lock
Due: build-mock-image, build-mock-image-fork, dependency-scan, dep-scanning-fork, container-scan, container-scan-fork, e2e, e2e-fork

dependency: bump puma from 5.2.1 to 5.2.2
  Gemfile.lock
Due: dependency-scan, dep-scanning-fork, container-scan, container-scan-fork

development-dependency: bump rubocop-performance from 1.10.0 to 1.10.1
  Gemfile
  Gemfile.lock
Due: dependency-scan, dep-scanning-fork, container-scan, container-scan-fork

chore: Remove plain exec git operations
  lib/task_helpers/release_helpers.rb
Due: none

development-dependency: bump solargraph from 0.40.3 to 0.40.4
  Gemfile
  Gemfile.lock
Due: dependency-scan, dep-scanning-fork, container-scan, container-scan-fork

dependency: bump dependabot-omnibus from 0.134.1 to 0.134.2
  Gemfile
  Gemfile.lock
Due: dependency-scan, dep-scanning-fork, container-scan, container-scan-fork

Revert "Merge branch 'dependabot-bundler-dependabot-omnibus-0.134.2' into 'master'"
  Gemfile
  Gemfile.lock
Due: dependency-scan, dep-scanning-fork, container-scan, container-scan-fork

doc: documentation improvements
  README.md
Due: none

dependency: bump semantic_range from 2.3.1 to 3.0.0
  Gemfile
  Gemfile.lock
Due: dependency-scan, dep-scanning-fork, container-scan, container-scan-fork

development-dependency: bump webmock from 3.12.0 to 3.12.1
  Gemfile.lock
Due: dependency-scan, dep-scanning-fork, container-scan, container-scan-fork

development-dependency: bump rspec-rails from 4.0.2 to 4.1.0
  Gemfile
  Gemfile.lock
Due: dependency-scan, dep-scanning-fork, container-scan, container-scan-fork

dependency: bump buildkit and docker ci runner versions
  .gitlab/ci/jobs.gitlab-ci.yml
Due: none

dependency: bump dependabot-omnibus from 0.134.1 to 0.135.0
  Dockerfile
  Gemfile
  Gemfile.lock
Due: build-mock-image, build-mock-image-fork, dependency-scan, dep-scanning-fork, container-scan, container-scan-fork, e2e, e2e-fork

doc: improve readme structure
  README.md
Due: none

dependency: bump dependabot-omnibus from 0.135.0 to 0.136.0
  Dockerfile
  Gemfile
  Gemfile.lock
Due: build-mock-image, build-mock-image-fork, dependency-scan, dep-scanning-fork, container-scan, container-scan-fork, e2e, e2e-fork

feature: rebase merge request command
  app/controllers/api/hooks_controller.rb
  app/services/gitlab/hooks/project_hook.rb
  app/services/gitlab/merge_request_rebaser.rb
  app/services/webhooks/comment_event_handler.rb
  app/services/webhooks/merge_request_event_handler.rb
  config/initializers/rebase_merge_request.rb
  spec/controllers/api/hooks_controller_spec.rb
  spec/fixture/gitlab/webhooks/comment.json
  spec/services/credentials_spec.rb
  spec/services/gitlab/hooks/creator_spec.rb
  spec/services/gitlab/hooks/updater_spec.rb
  spec/services/gitlab/merge_request_rebaser_spec.rb
  spec/services/webhooks/comment_event_handler_spec.rb
Due: build-mock-image, build-mock-image-fork, e2e, e2e-fork

improvement: dependabot command description in mr footer
  app/services/gitlab/merge_request_creator.rb
  spec/services/gitlab/merge_request_creator_spec.rb
Due: none

improvement: add proper spacing to pr message footer
  app/services/gitlab/merge_request_creator.rb
  spec/services/gitlab/merge_request_creator_spec.rb
Due: none

chore: properly bump minor and major version
  lib/task_helpers/release_helpers.rb
Due: none

improvement: dont add mr footer for standalone app
  app/services/gitlab/merge_request_creator.rb
Due: none

development-dependency: bump rspec-rails from 4.1.0 to 5.0.0
  Gemfile
  Gemfile.lock
Due: dependency-scan, dep-scanning-fork, container-scan, container-scan-fork

Update to v0.3.0
  CHANGELOG.md
Due: none

chore: fix docker release runner
  .gitlab/ci/jobs.gitlab-ci.yml
Due: none

Update to v0.3.1
  CHANGELOG.md
Due: none

doc: remove dependabot logo, add disclaimer
  README.md
  logo.png
Due: none

development-dependency: bump faker from 2.16.0 to 2.17.0
  Gemfile
  Gemfile.lock
Due: dependency-scan, dep-scanning-fork, container-scan, container-scan-fork

dependency: bump dependabot-omnibus from 0.136.0 to 0.137.1
  Dockerfile
  Gemfile
  Gemfile.lock
Due: build-mock-image, build-mock-image-fork, dependency-scan, dep-scanning-fork, container-scan, container-scan-fork, e2e, e2e-fork

doc: document adding 'Comments' webhook
  README.md
Due: none

Path conditions:
  build-mock-image: any of: Dockerfile, spec/fixture/gitlab/**/*
  build-mock-image-fork: any of: Dockerfile, spec/fixture/gitlab/**/*
  dependency-scan: any of: Gemfile, Gemfile.lock
  dep-scanning-fork: any of: Gemfile, Gemfile.lock
  container-scan: any of: Gemfile, Gemfile.lock
  container-scan-fork: any of: Gemfile, Gemfile.lock
  e2e: any of: Dockerfile, spec/fixture/gitlab/**/*
  e2e-fork: any of: Dockerfile, spec/fixture/gitlab/**/*
