Repository luca-bassoricci/dependabot: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-mock-image, build-mock-image-fork, build-ruby-image, dependency-scan, dep-scanning-fork, container-scan, container-scan-fork, e2e, e2e-fork, release-ruby-image, deploy-production

Path conditions:
  build-mock-image: any of: Dockerfile, spec/fixture/gitlab/**/*
  build-mock-image-fork: any of: Dockerfile, spec/fixture/gitlab/**/*
  build-ruby-image: any of: docker/Dockerfile
  dependency-scan: any of: Gemfile, Gemfile.lock
  dep-scanning-fork: any of: Gemfile, Gemfile.lock
  container-scan: any of: Dockerfile
  container-scan-fork: any of: Dockerfile
  e2e: any of: Dockerfile, spec/fixture/gitlab/**/*
  e2e-fork: any of: Dockerfile, spec/fixture/gitlab/**/*
  release-ruby-image: any of: docker/Dockerfile
  deploy-production: any of: app/**/*, config/**/*, kube/**/*, public/**/*, bin/rails, lib/tasks/dependabot.rake, config.ru, Dockerfile, Gemfile, Gemfile.lock, Rakefile

development-dependency: bump rubocop-rspec from 2.2.0 to 2.3.0
  Gemfile
  Gemfile.lock
Due: dependency-scan, dep-scanning-fork, deploy-production

development-dependency: bump reek from 6.0.3 to 6.0.4
  Gemfile.lock
Due: dependency-scan, dep-scanning-fork, deploy-production

dependency: bump dependabot-omnibus from 0.143.3 to 0.143.4
  Dockerfile
  Gemfile
  Gemfile.lock
Due: build-mock-image, build-mock-image-fork, dependency-scan, dep-scanning-fork, container-scan, container-scan-fork, e2e, e2e-fork, deploy-production

dependency: bump dependabot-omnibus from 0.143.4 to 0.143.5
  Dockerfile
  Gemfile
  Gemfile.lock
Due: build-mock-image, build-mock-image-fork, dependency-scan, dep-scanning-fork, container-scan, container-scan-fork, e2e, e2e-fork, deploy-production

development-dependency: bump rubocop-performance from 1.11.0 to 1.11.1
  Gemfile
  Gemfile.lock
Due: dependency-scan, dep-scanning-fork, deploy-production

dependency: bump dependabot-omnibus from 0.143.5 to 0.143.6
  Dockerfile
  Gemfile
  Gemfile.lock
Due: build-mock-image, build-mock-image-fork, dependency-scan, dep-scanning-fork, container-scan, container-scan-fork, e2e, e2e-fork, deploy-production

Add allure report publisher job
  .gitlab-ci.yml
  .gitlab/ci/jobs.gitlab-ci.yml
Due: none

chore: add allure links to mr descriptions
  .gitlab/ci/jobs.gitlab-ci.yml
  kube/helm/development.yaml.gotmpl
  kube/helm/production.yaml.gotmpl
Due: deploy-production

dependency: bump sentry-sidekiq, sentry-rails and sentry-ruby
  Gemfile
  Gemfile.lock
Due: dependency-scan, dep-scanning-fork, deploy-production

dependency: bump bootsnap from 1.7.4 to 1.7.5
  Gemfile.lock
Due: dependency-scan, dep-scanning-fork, deploy-production

chore: keep latest allure report for specific branch pipeline
  .gitlab/ci/jobs.gitlab-ci.yml
Due: none

dependency: bump sentry-ruby from 4.4.0 to 4.4.1
  Gemfile.lock
Due: dependency-scan, dep-scanning-fork, deploy-production

dependency: bump dependabot-omnibus from 0.143.6 to 0.144.0
  Dockerfile
  Gemfile
  Gemfile.lock
Due: build-mock-image, build-mock-image-fork, dependency-scan, dep-scanning-fork, container-scan, container-scan-fork, e2e, e2e-fork, deploy-production

dependency: bump rails from 6.1.3.1 to 6.1.3.2
  Gemfile.lock
Due: dependency-scan, dep-scanning-fork, deploy-production

development-dependency: bump rubocop from 1.13.0 to 1.14.0
  Gemfile
  Gemfile.lock
Due: dependency-scan, dep-scanning-fork, deploy-production

development-dependency: bump rubocop-performance from 1.11.1 to 1.11.2
  Gemfile
  Gemfile.lock
Due: dependency-scan, dep-scanning-fork, deploy-production

development-dependency: bump rubocop-rails from 2.9.1 to 2.10.1
  Gemfile
  Gemfile.lock
Due: dependency-scan, dep-scanning-fork, deploy-production

development-dependency: bump rubocop-performance from 1.11.2 to 1.11.3
  Gemfile
  Gemfile.lock
Due: dependency-scan, dep-scanning-fork, deploy-production

dependency: bump dependabot-omnibus from 0.144.0 to 0.145.1
  Dockerfile
  Gemfile
  Gemfile.lock
Due: build-mock-image, build-mock-image-fork, dependency-scan, dep-scanning-fork, container-scan, container-scan-fork, e2e, e2e-fork, deploy-production

improvement: Add configurable commands prefix
  app/services/gitlab/merge_request/creator.rb
  app/services/webhooks/comment_event_handler.rb
  config/configs/app_config.rb
  spec/services/gitlab/merge_request/creator_spec.rb
Due: deploy-production

dependency: bump puma from 5.2.2 to 5.3.0
  Gemfile
  Gemfile.lock
Due: dependency-scan, dep-scanning-fork, deploy-production

chore: Update chart version and commands prefix
  kube/helm/development.yaml.gotmpl
  kube/helm/helmfile.yaml
  kube/helm/production.yaml.gotmpl
Due: deploy-production

dependency: bump dependabot-omnibus from 0.145.1 to 0.145.2
  Dockerfile
  Gemfile
  Gemfile.lock
Due: build-mock-image, build-mock-image-fork, dependency-scan, dep-scanning-fork, container-scan, container-scan-fork, e2e, e2e-fork, deploy-production

Merge branch 'dependabot-docker-dependabot-dependabot-core-0.145.3' into 'dependabot-bundler-dependabot-omnibus-0.145.3'
  Gemfile
  Gemfile.lock
Due: dependency-scan, dep-scanning-fork, deploy-production

dependency: bump mongoid from 7.2.2 to 7.3.0
  Gemfile
  Gemfile.lock
Due: dependency-scan, dep-scanning-fork, deploy-production

dependency: bump dependabot-omnibus from 0.145.3 to 0.146.0
  Dockerfile
  Gemfile
  Gemfile.lock
Due: build-mock-image, build-mock-image-fork, dependency-scan, dep-scanning-fork, container-scan, container-scan-fork, e2e, e2e-fork, deploy-production

dependency: bump sentry-ruby from 4.4.1 to 4.4.2
  Gemfile.lock
Due: dependency-scan, dep-scanning-fork, deploy-production

dependency: bump puma from 5.3.0 to 5.3.1
  Gemfile.lock
Due: dependency-scan, dep-scanning-fork, deploy-production

dependency: bump yabeda-sidekiq from 0.7.0 to 0.8.0
  Gemfile
  Gemfile.lock
Due: dependency-scan, dep-scanning-fork, deploy-production

doc: add table of contents and improve docs
  README.md
  doc/dependabot.md
Due: none

dependency: bump dependabot-omnibus from 0.146.0 to 0.146.1
  Dockerfile
  Gemfile
  Gemfile.lock
Due: build-mock-image, build-mock-image-fork, dependency-scan, dep-scanning-fork, container-scan, container-scan-fork, e2e, e2e-fork, deploy-production

doc: add explicit links to dependabot.yml configuration options
  README.md
Due: none

doc: remove duplicate Github link
  README.md
Due: none

chore: upload reports to gcs
  .gitlab/ci/jobs.gitlab-ci.yml
Due: none

dependency: bump dependabot-omnibus from 0.146.1 to 0.147.0
  Dockerfile
  Gemfile
  Gemfile.lock
Due: build-mock-image, build-mock-image-fork, dependency-scan, dep-scanning-fork, container-scan, container-scan-fork, e2e, e2e-fork, deploy-production

development-dependency: bump faker from 2.17.0 to 2.18.0
  Gemfile
  Gemfile.lock
Due: dependency-scan, dep-scanning-fork, deploy-production

improvement: log stacktrace to debug level
  app/helpers/application_helper.rb
Due: deploy-production

development-dependency: bump webmock from 3.12.2 to 3.13.0
  Gemfile
  Gemfile.lock
Due: dependency-scan, dep-scanning-fork, deploy-production

dependency: bump rails-healthcheck from 1.3.0 to 1.4.0
  Gemfile
  Gemfile.lock
Due: dependency-scan, dep-scanning-fork, deploy-production

development-dependency: bump rubocop from 1.14.0 to 1.15.0
  Gemfile
  Gemfile.lock
Due: dependency-scan, dep-scanning-fork, deploy-production
