Repository luca-bassoricci/dependabot: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ruby-image, dependency-scan, container-scan, validate-deploy-production, release-ruby-image, deploy-production

Path conditions:
  build-ruby-image: any of: .gitlab/ci/Dockerfile
  dependency-scan: any of: Gemfile, Gemfile.lock
  container-scan: any of: Dockerfile
  validate-deploy-production: (any of: terraform/**/*) or (any of: app/**/*, config/**/*, kube/**/*, public/**/*, terraform/**/*, bin/rails, lib/tasks/dependabot.rake, config.ru, Dockerfile, Gemfile, Gemfile.lock, Rakefile, .gitlab/ci/jobs.gitlab-ci.yml, .gitlab-ci.yml)
  release-ruby-image: any of: .gitlab/ci/Dockerfile
  deploy-production: any of: app/**/*, config/**/*, kube/**/*, public/**/*, terraform/**/*, bin/rails, lib/tasks/dependabot.rake, config.ru, Dockerfile, Gemfile, Gemfile.lock, Rakefile, .gitlab/ci/jobs.gitlab-ci.yml, .gitlab-ci.yml

development-dependency: bump digitalocean/digitalocean in /terraform
  terraform/.terraform.lock.hcl
Due: validate-deploy-production, deploy-production

development-dependency: bump allure-rspec from 2.14.5 to 2.15.0
  Gemfile
  Gemfile.lock
Due: dependency-scan, validate-deploy-production, deploy-production

development-dependency: bump rubocop from 1.22.0 to 1.22.1
  Gemfile
  Gemfile.lock
Due: dependency-scan, validate-deploy-production, deploy-production

properly set closed state for mrs out of sync
  app/services/dependabot/merge_request_service.rb
Due: validate-deploy-production, deploy-production

doc: improve main documentation page
  README.md
Due: none

development-dependency: bump rubocop-rails from 2.12.2 to 2.12.3
  Gemfile.lock
Due: dependency-scan, validate-deploy-production, deploy-production

chore: move production deployment to GCP
  .gitlab-ci.yml
  .gitlab/ci/jobs.gitlab-ci.yml
  terraform/.terraform.lock.hcl
  terraform/main.tf
  terraform/values/common.tpl
  terraform/values/development.tpl
  terraform/values/production.tpl
  terraform/variables.tf
Due: validate-deploy-production, deploy-production

chore: update deployment chart version
  terraform/main.tf
  terraform/values/production.tpl
Due: validate-deploy-production, deploy-production

dependency: bump dependabot-omnibus from 0.162.2 to 0.163.0
  Dockerfile
  Gemfile
  Gemfile.lock
Due: dependency-scan, container-scan, validate-deploy-production, deploy-production

improvement: Add configurable sentry sample rate
  config/configs/app_config.rb
  config/initializers/sentry.rb
Due: validate-deploy-production, deploy-production

chore: split helm deployment values definition
  terraform/development.tf
  terraform/main.tf
  terraform/production.tf
Due: validate-deploy-production, deploy-production

chore: move ci build stage after static analysis
  .gitlab-ci.yml
  .gitlab/ci/jobs.gitlab-ci.yml
  terraform/.terraform.lock.hcl
Due: validate-deploy-production, deploy-production

chore: update mem requests
  terraform/production.tf
Due: validate-deploy-production, deploy-production

chore: set resources for jobs
  terraform/development.tf
  terraform/main.tf
  terraform/production.tf
  terraform/values/development.tpl
  terraform/values/production.tpl
Due: validate-deploy-production, deploy-production

chore: use buildkit host for image building
  .gitlab-ci.yml
  .gitlab/ci/jobs.gitlab-ci.yml
  script/build.sh
Due: validate-deploy-production, deploy-production

chore: run terraform on all master pipelines
  .gitlab-ci.yml
Due: validate-deploy-production, deploy-production

chore: fix commit name for chart version
  lib/task_helpers/chart_release_helper.rb
Due: none

chore: use buildkit address variable
  script/build.sh
Due: none

chore: use buildkit tls keys
  script/build.sh
Due: none

development-dependency: bump hashicorp/google in /terraform
  terraform/.terraform.lock.hcl
Due: validate-deploy-production, deploy-production

development-dependency: bump debian in /.gitlab/ci
  .gitlab/ci/Dockerfile
Due: build-ruby-image, release-ruby-image

chore: add http-to-https for prod deployment
  script/build.sh
  terraform/production.tf
Due: validate-deploy-production, deploy-production

fix: skip adding approvers if no approvers are set
  config/initializers/dependabot.rb
Due: validate-deploy-production, deploy-production

chore: rename sentry traces sample rate config param
  config/configs/app_config.rb
  config/initializers/sentry.rb
  doc/environment.md
Due: validate-deploy-production, deploy-production

Update to v0.10.5
  CHANGELOG.md
Due: none

chore: drop worker cpu requests
  terraform/production.tf
Due: validate-deploy-production, deploy-production

dependency: bump puma from 5.5.0 to 5.5.1
  Gemfile.lock
Due: dependency-scan, validate-deploy-production, deploy-production

dependency: bump puma from 5.5.1 to 5.5.2
  Gemfile.lock
Due: dependency-scan, validate-deploy-production, deploy-production

development-dependency: bump hashicorp/kubernetes in /terraform
  terraform/.terraform.lock.hcl
Due: validate-deploy-production, deploy-production

development-dependency: bump rubocop-rails from 2.12.3 to 2.12.4
  Gemfile.lock
Due: dependency-scan, validate-deploy-production, deploy-production

add back buildkit tls certs
  script/build.sh
Due: none

chore: fix base ruby image name
  .gitlab/ci/Dockerfile
  .gitlab/ci/jobs.gitlab-ci.yml
Due: build-ruby-image, validate-deploy-production, release-ruby-image, deploy-production

chore: update ci ruby image name
  .gitlab/ci/jobs.gitlab-ci.yml
Due: validate-deploy-production, deploy-production

chore: fix sentry release
  config/initializers/sentry.rb
Due: validate-deploy-production, deploy-production

development-dependency: bump hashicorp/kubernetes from 2.5.1 to 2.6.0 in /terraform
  terraform/.terraform.lock.hcl
  terraform/main.tf
Due: validate-deploy-production, deploy-production

fix: use configured branch name for project sync
  app/services/dependabot/project_sync.rb
Due: validate-deploy-production, deploy-production

Update to v0.10.6
  CHANGELOG.md
Due: none

chore: improve terraform job caching
  .gitlab/ci/jobs.gitlab-ci.yml
Due: validate-deploy-production, deploy-production
