Repository luca-bassoricci/dependabot: changes, and which GitLab CI jobs are due for each by the changed paths.
All: cache_gems, deploy

cache_gems:
  stage: .pre
  script:
  - bundle install
  cache:
    policy: pull-push

deploy:
  stage: deploy
  script:
  - git push heroku master
  environment:
    name: heroku
    url: https://dependabot-gitlab.herokuapp.com/

Bump dry-configurable from 0.11.5 to 0.11.6
  Gemfile.lock
Due: cache_gems, deploy

Bump dry-logic from 1.0.6 to 1.0.7
  Gemfile.lock
Due: cache_gems, deploy

Bump dry-schema from 1.5.0 to 1.5.3
  Gemfile.lock
Due: cache_gems, deploy

Bump dry-validation from 1.5.0 to 1.5.4
  Gemfile.lock
Due: cache_gems, deploy

Bump fugit from 1.3.6 to 1.3.8
  Gemfile.lock
Due: cache_gems, deploy

Bump websocket-driver from 0.7.2 to 0.7.3
  Gemfile.lock
Due: cache_gems, deploy

Add explicit cache expiry for user
  app/services/gitlab/user_finder.rb
Due: deploy

Minor readme update
  README.md
Due: none

Add security update support
  app/services/dependabot/dependency_fetcher.rb
  app/services/dependabot/merge_request_service.rb
  app/services/dependabot/update_checker.rb
  app/services/dependency_updater.rb
  spec/services/dependabot/dependency_fetcher_spec.rb
  spec/services/dependabot/merge_request_service_spec.rb
  spec/services/dependabot/update_checker_spec.rb
Due: deploy

Add information about allow block options to readme
  README.md
Due: none

Use latest master cache as fallback
  .gitlab-ci.yml
Due: none

Document not implemented options
  README.md
Due: none

Add logo and move ci runners file
  .gitlab-ci.yml
  .gitlab/ci/runners.gitlab-ci.yml
  README.md
  logo.png
Due: none

Bump spring from 2.1.0 to 2.1.1
  Gemfile
  Gemfile.lock
Due: cache_gems, deploy

Bump aws-sdk-codecommit from 1.37.0 to 1.38.0
  Gemfile.lock
Due: cache_gems, deploy

Add support for max pr parameter, improve logging
  app/services/configuration/parser.rb
  app/services/dependabot/merge_request_service.rb
  app/services/dependabot/update_checker.rb
  app/services/dependency_updater.rb
  spec/dependabot_helper.rb
  spec/services/configuration/configuration_spec.rb
  spec/services/dependabot/merge_request_service_spec.rb
  spec/services/dependabot/update_checker_spec.rb
  spec/services/dependency_updater_spec.rb
Due: deploy

Bump dependabot-omnibus from 0.118.16 to 0.119.0
  Dockerfile
  Gemfile
  Gemfile.lock
Due: cache_gems, deploy

Update readme
  README.md
Due: none

Allow definition of multiple entries of same package eco system
  .gitlab-ci.yml
  app/services/configuration/parser.rb
  app/services/dependabot/config.rb
  app/services/dependency_updater.rb
  app/services/scheduler/dependency_update_scheduler.rb
  lib/tasks/dependabot.rake
  spec/dependabot_helper.rb
  spec/services/configuration/configuration_spec.rb
  spec/services/dependabot/merge_request_service_spec.rb
  spec/services/dependency_updater_spec.rb
  spec/services/scheduler/dependency_update_scheduler_spec.rb
Due: deploy

Bump sentry-raven from 3.0.2 to 3.0.3
  Gemfile.lock
Due: cache_gems, deploy

Update only direct dependencies
  .gitlab/dependabot.yml
Due: none

Document standalone usage and other improvements
  README.md
Due: none

Add rebase-strategy option support
  README.md
  app/services/configuration/parser.rb
  app/services/dependabot/merge_request_service.rb
  spec/dependabot_helper.rb
  spec/gitlab_mock/responses/gitlab/dependabot.yml
  spec/services/configuration/configuration_spec.rb
Due: deploy

Bump sentry-raven from 3.0.3 to 3.0.4
  Gemfile.lock
Due: cache_gems, deploy

Bump dependabot-omnibus from 0.119.0 to 0.119.1
  Dockerfile
  Gemfile
  Gemfile.lock
Due: cache_gems, deploy

Bump rubocop from 0.89.1 to 0.90.0
  .rubocop.yml
  Gemfile
  Gemfile.lock
Due: cache_gems, deploy

Minor docker compose improvements
  docker-compose-dev.yml
  docker-compose-prod.yml
  docker-compose-test.yml
  script/start.sh
Due: none

Properly handle not configured gitlab auth token
  app/controllers/api/application_controller.rb
Due: deploy

Use ci_registry env variable for image name
  .gitlab-ci.yml
Due: none

Bump dependabot-omnibus from 0.119.1 to 0.119.2
  Dockerfile
  Gemfile
  Gemfile.lock
Due: cache_gems, deploy

Improve gem cache handling
  .gitlab-ci.yml
  .gitlab/ci/runners.gitlab-ci.yml
Due: none

Remove v prefix from tag name
  .gitlab-ci.yml
Due: none

Docker dev setup fix
  docker-compose-dev.yml
  script/stop.sh
Due: none

Feat: Maven repository credentials
  README.md
  app/services/credentials.rb
  spec/services/credentials_spec.rb
Due: deploy

Bump rubocop-performance from 1.7.1 to 1.8.0
  Gemfile
  Gemfile.lock
Due: cache_gems, deploy

nil check when logging created mr
  app/services/configuration/parser.rb
  app/services/dependabot/merge_request_service.rb
Due: deploy

Change owner helpers directory
  Dockerfile
Due: deploy

enhancement: Error handling improvements
  .reek.yml
  app/controllers/concerns/api/exception_handler.rb
  app/helpers/application_helper.rb
  app/services/credentials.rb
  app/services/dependabot/update_checker.rb
  app/services/gitlab/config_fetcher.rb
  config/environments/test.rb
Due: deploy

Bump rubocop-rails from 2.7.1 to 2.8.0
  Gemfile
  Gemfile.lock
Due: cache_gems, deploy

enhancement: Handle missing config
  app/services/gitlab/config_fetcher.rb
  lib/exceptions.rb
  spec/services/gitlab/config_fetcher_spec.rb
Due: deploy

Path conditions:
  cache_gems: any of: Gemfile.lock
  deploy: any of: app/**/*, config/**/*, lib/**/*, public/**/*, bin/rails, config.ru, Gemfile, Gemfile.lock, Rakefile, Dockerfile, .dockerignore
