Repository luca-bassoricci/dependabot: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-mock-image, build-ruby-image, dependency-scan, container-scan, e2e, release-ruby-image, deploy-production

Path conditions:
  build-mock-image: any of: Dockerfile, spec/fixture/gitlab/**/*
  build-ruby-image: any of: .gitlab/ci/Dockerfile
  dependency-scan: any of: Gemfile, Gemfile.lock
  container-scan: any of: Dockerfile
  e2e: any of: Dockerfile, spec/fixture/gitlab/**/*
  release-ruby-image: any of: .gitlab/ci/Dockerfile
  deploy-production: any of: app/**/*, config/**/*, kube/**/*, public/**/*, bin/rails, lib/tasks/dependabot.rake, config.ru, Dockerfile, Gemfile, Gemfile.lock, Rakefile

fix: fix handling of missing config file
  app/helpers/dependabot_helper.rb
  app/services/dependabot/config_fetcher.rb
  app/services/gitlab/config/fetcher.rb
Due: deploy-production

improvement: [BREAKING] check for unsupported keys in dependabot.yml
  app/contracts/dependabot_config_contract.rb
  kube/helm/production.yaml.gotmpl
Due: deploy-production

Update to v0.5.0
  CHANGELOG.md
Due: none

development-dependency: bump rubocop-rails from 2.11.2 to 2.11.3
  Gemfile.lock
Due: dependency-scan, deploy-production

development-dependency: bump solargraph from 0.42.3 to 0.42.4
  Gemfile
  Gemfile.lock
Due: dependency-scan, deploy-production

chore: simplify ci ruby image
  .gitlab/ci/Dockerfile
  .gitlab/ci/jobs.gitlab-ci.yml
  script/download-codacy.sh
Due: build-ruby-image, release-ruby-image

chore: fix ruby ci image push
  .gitlab/ci/jobs.gitlab-ci.yml
Due: none

chore: improve ci cache
  .gitlab/ci/jobs.gitlab-ci.yml
  script/download-codacy.sh
Due: none

dependency: bump dependabot-omnibus from 0.156.4 to 0.156.5
  Dockerfile
  Gemfile
  Gemfile.lock
Due: build-mock-image, dependency-scan, container-scan, e2e, deploy-production

chore: add code quality job
  .gitlab-ci.yml
  .gitlab/ci/jobs.gitlab-ci.yml
Due: none

fix: update incorrect error message reply when trying to recreate up to date mr
  app/jobs/application_job.rb
  app/jobs/merge_request_recreation_job.rb
  app/services/application_service.rb
  app/services/dependabot/dependency_updater.rb
  app/services/dependabot/merge_request_recreator.rb
  spec/jobs/merge_request_recreation_job_spec.rb
  spec/services/dependabot/merge_request_recreator_spec.rb
Due: deploy-production

fix: remove duplicate error message
  app/helpers/application_helper.rb
Due: deploy-production

Update to v0.5.1
  CHANGELOG.md
Due: none

bump ruby dev version
  .ruby-version
Due: none

feature: [BREAKING] implement registry configuration via dependabot.yml file
  .reek.yml
  README.md
  app/contracts/dependabot_config_contract.rb
  app/contracts/updates_config_contract.rb
  app/services/dependabot/config_parser.rb
  app/services/dependabot/credentials.rb
  app/services/dependabot/dependency_updater.rb
  app/services/dependabot/file_parser.rb
  app/services/dependabot/registries_parser.rb
  app/services/dependabot/update_checker.rb
  config/configs/credentials_config.rb
  doc/dependabot.md
  doc/environment.md
  spec/dependabot_helper.rb
  spec/fixture/gitlab/responses/dependabot.yml
  spec/services/dependabot/config_parser_spec.rb
  spec/services/dependabot/credentials_spec.rb
  spec/services/dependabot/dependency_updater_spec.rb
  spec/services/dependabot/file_parser_spec.rb
  spec/services/dependabot/project_creator_spec.rb
  spec/services/dependabot/registries_parser_spec.rb
  spec/services/dependabot/update_checker_spec.rb
Due: build-mock-image, e2e, deploy-production

improvement: add weekday option to schedule configuration
  app/services/cron/schedule.rb
  doc/dependabot.md
Due: deploy-production

chore: bump helm chart version
  kube/helm/development.yaml.gotmpl
  kube/helm/helmfile.yaml
  kube/helm/production.yaml.gotmpl
Due: deploy-production

remove master cache fallback
  script/build.sh
Due: none

fix: pass registries to file_parser
  app/services/dependabot/dependency_updater.rb
  app/services/dependabot/file_parser.rb
  spec/services/dependabot/dependency_updater_spec.rb
  spec/services/dependabot/file_parser_spec.rb
Due: deploy-production

improvement: add custom error message for unexpected external code error
  app/services/dependabot/update_service.rb
Due: deploy-production

development-dependency: bump allure-rspec from 2.14.1 to 2.14.2
  Gemfile
  Gemfile.lock
Due: dependency-scan, deploy-production

dependency: bump dependabot-omnibus from 0.156.5 to 0.156.8
  Dockerfile
  Gemfile
  Gemfile.lock
Due: build-mock-image, dependency-scan, container-scan, e2e, deploy-production

Update to v0.6.0
  CHANGELOG.md
Due: none

chore: bump chart version
  kube/helm/helmfile.yaml
Due: deploy-production

improvement: retry method not allowed gitlab errors
  app/services/gitlab/client_with_retry.rb
  spec/services/gitlab/user_finder_spec.rb
Due: deploy-production

chore: update redis values in helm chart
  kube/helm/development.yaml.gotmpl
  kube/helm/helmfile.yaml
  kube/helm/production.yaml.gotmpl
Due: deploy-production

chore: add fallback to master cache for docker builds
  .gitlab/ci/jobs.gitlab-ci.yml
  script/build.sh
Due: none

dependency: bump mongoid from 7.3.0 to 7.3.1
  Gemfile.lock
Due: dependency-scan, deploy-production

improvement: configuration validation rake task
  README.md
  app/contracts/updates_config_contract.rb
  lib/tasks/dependabot.rake
Due: deploy-production

doc: fix param name in readme
  README.md
Due: none

improvement: save dependency update run errors
  app/controllers/application_controller.rb
  app/helpers/application_helper.rb
  app/helpers/dependabot_helper.rb
  app/jobs/dependency_update_job.rb
  app/models/job_errors.rb
  app/services/dependabot/update_checker.rb
  app/services/update_failures.rb
  app/views/dependabot/index.html.erb
  spec/jobs/dependency_update_job_spec.rb
Due: deploy-production

bump buildkit version
  .gitlab/ci/jobs.gitlab-ci.yml
Due: none

fix: properly wrap error message in mr recreate response
  app/jobs/merge_request_recreation_job.rb
  spec/jobs/merge_request_recreation_job_spec.rb
Due: deploy-production

Remove master cache fallback
  script/build.sh
Due: none

chore: use local buildkit cache
  .gitlab/ci/jobs.gitlab-ci.yml
  script/build.sh
Due: none

Add index to fallback cache key
  .gitlab/ci/jobs.gitlab-ci.yml
Due: none

Remove fallback cache
  .gitlab/ci/jobs.gitlab-ci.yml
Due: none

Add retry to buildkit job
  .gitlab/ci/jobs.gitlab-ci.yml
Due: none

dependency: bump dependabot-omnibus from 0.156.8 to 0.156.9
  Dockerfile
  Gemfile
  Gemfile.lock
Due: build-mock-image, dependency-scan, container-scan, e2e, deploy-production

chore: use buildkit with a service configuration
  .gitlab/ci/jobs.gitlab-ci.yml
  script/build.sh
Due: none
