Repository luca-bassoricci/dependabot: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-mock-image, build-mock-image-fork, dependency-scan, dep-scanning-fork, container-scan, container-scan-fork, e2e, e2e-fork

Path conditions:
  build-mock-image: any of: Dockerfile, spec/fixture/gitlab/**/*
  build-mock-image-fork: any of: Dockerfile, spec/fixture/gitlab/**/*
  dependency-scan: any of: Gemfile, Gemfile.lock
  dep-scanning-fork: any of: Gemfile, Gemfile.lock
  container-scan: any of: Gemfile, Gemfile.lock
  container-scan-fork: any of: Gemfile, Gemfile.lock
  e2e: any of: Dockerfile, spec/fixture/gitlab/**/*
  e2e-fork: any of: Dockerfile, spec/fixture/gitlab/**/*

feature: add rebase action progress reply
  app/controllers/api/hooks_controller.rb
  app/jobs/merge_request_recreation_job.rb
  app/services/gitlab/merge_request/discussion_replier.rb
  app/services/webhooks/comment_event_handler.rb
  spec/controllers/api/hooks_controller_spec.rb
  spec/fixture/gitlab/webhooks/comment.json
  spec/services/gitlab/merge_request/discussion_replier_spec.rb
  spec/services/webhooks/comment_event_handler_spec.rb
Due: build-mock-image, build-mock-image-fork, e2e, e2e-fork

feature: add status notifications of recreate action
  app/jobs/merge_request_recreation_job.rb
  app/services/webhooks/comment_event_handler.rb
  spec/jobs/merge_request_recreation_job_spec.rb
  spec/services/webhooks/comment_event_handler_spec.rb
Due: none

fix: add sidekiq hooks queue
  config/initializers/sidekiq.rb
Due: none

chore: add stricter rules for master pipeline trigger
  .gitlab-ci.yml
Due: none

chore: add manual prod deploy option when triggering from web
  .gitlab-ci.yml
Due: none

Update to v0.3.7
  CHANGELOG.md
Due: none

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

dependency: bump dependabot-omnibus from 0.140.2 to 0.140.3
  Dockerfile
  Gemfile
  Gemfile.lock
Due: build-mock-image, build-mock-image-fork, dependency-scan, dep-scanning-fork, container-scan, container-scan-fork, e2e, e2e-fork

remove redundant if rule for prod deploy
  .gitlab-ci.yml
Due: none

dependency: bump dependabot-omnibus from 0.140.3 to 0.141.0
  Dockerfile
  Gemfile
  Gemfile.lock
Due: build-mock-image, build-mock-image-fork, dependency-scan, dep-scanning-fork, container-scan, container-scan-fork, e2e, e2e-fork

improvement: save webhook id if project has been removed in local database but not on Gitlab
  app/services/dependabot/project_creator.rb
Due: none

improvement: [BREAKING] change application user and application path in docker image
  .gitlab/ci/jobs.gitlab-ci.yml
  Dockerfile
  docker-compose-prod.yml
Due: build-mock-image, build-mock-image-fork, e2e, e2e-fork

chore: bump chart version
  kube/helm/helmfile.yaml
Due: none

Update to v0.3.8
  CHANGELOG.md
Due: none

doc: add description for using gitlab package registries for maven repositories
  README.md
Due: none

doc: extract documentation for manual configuration and specific dependabot.yml config options
  .gitignore
  README.md
  doc/dependabot.md
  doc/environment.md
Due: none

fix: Allow maven repo configuration with just the url
  app/services/dependabot/credentials.rb
  config/configs/credentials_config.rb
  doc/environment.md
  spec/services/dependabot/credentials_spec.rb
Due: none

Update to v0.3.9
  CHANGELOG.md
Due: none

dependency: bump mongoid from 7.2.1 to 7.2.2
  Gemfile.lock
Due: dependency-scan, dep-scanning-fork, container-scan, container-scan-fork

chore: update dependabot-standalone gitlab-ci.yml with explicit image version on release
  .gitlab-ci.yml
  .gitlab/ci/jobs.gitlab-ci.yml
  app/helpers/application_helper.rb
  lib/task_helpers/standalone_release_helper.rb
  lib/tasks/release.rake
Due: none

dependency: bump dependabot-omnibus from 0.141.0 to 0.141.1
  Dockerfile
  Gemfile
  Gemfile.lock
Due: build-mock-image, build-mock-image-fork, dependency-scan, dep-scanning-fork, container-scan, container-scan-fork, e2e, e2e-fork

development-dependency: bump allure-rspec from 2.13.8.5 to 2.13.9
  Gemfile
  Gemfile.lock
Due: dependency-scan, dep-scanning-fork, container-scan, container-scan-fork

dependency: bump dependabot-omnibus from 0.141.1 to 0.142.0
  Dockerfile
  Gemfile
  Gemfile.lock
Due: build-mock-image, build-mock-image-fork, dependency-scan, dep-scanning-fork, container-scan, container-scan-fork, e2e, e2e-fork

improvement: trigger automerge based on pipeline events
  README.md
  app/controllers/api/hooks_controller.rb
  app/services/dependabot/merge_request_service.rb
  app/services/gitlab/hooks/project_hook.rb
  app/services/gitlab/merge_request/acceptor.rb
  app/services/webhooks/comment_event_handler.rb
  app/services/webhooks/pipeline_event_handler.rb
  doc/dependabot.md
  spec/controllers/api/hooks_controller_spec.rb
  spec/fixture/gitlab/webhooks/pipeline.json
  spec/services/dependabot/merge_request_service_spec.rb
  spec/services/gitlab/hooks/creator_spec.rb
  spec/services/gitlab/hooks/updater_spec.rb
  spec/services/gitlab/merge_request/acceptor_spec.rb
  spec/services/webhooks/pipeline_event_handler_spec.rb
Due: build-mock-image, build-mock-image-fork, e2e, e2e-fork

chore: Improve project queries
  app/services/dependabot/merge_request_service.rb
  app/services/dependabot/update_service.rb
  app/services/webhooks/merge_request_event_handler.rb
  spec/services/webhooks/merge_request_event_handler_spec.rb
Due: none

chore: Rename development improvements to more general chore
  .gitlab/changelog_config.yml
Due: none

chore: remove version from initial log message on dependency info fetching
  app/services/dependabot/update_checker.rb
Due: none

dependency: bump dependabot-omnibus from 0.142.0 to 0.142.1
  Dockerfile
  Gemfile
  Gemfile.lock
Due: build-mock-image, build-mock-image-fork, dependency-scan, dep-scanning-fork, container-scan, container-scan-fork, e2e, e2e-fork

fix: skip automerge when merge_status is explicitly cannot_be_merged
  app/services/webhooks/pipeline_event_handler.rb
  spec/services/webhooks/pipeline_event_handler_spec.rb
Due: none

development-dependency: bump rubocop from 1.12.1 to 1.13.0
  Gemfile
  Gemfile.lock
Due: dependency-scan, dep-scanning-fork, container-scan, container-scan-fork

development-dependency: bump rubocop-performance from 1.10.2 to 1.11.0
  Gemfile
  Gemfile.lock
Due: dependency-scan, dep-scanning-fork, container-scan, container-scan-fork

dependency: bump bootsnap from 1.7.3 to 1.7.4
  Gemfile.lock
Due: dependency-scan, dep-scanning-fork, container-scan, container-scan-fork

chore: remove Config class and Configuration module
  app/services/cron/schedule.rb
  app/services/dependabot/config_fetcher.rb
  app/services/dependabot/config_parser.rb
  app/services/dependabot/merge_request_recreator.rb
  app/services/dependabot/project_creator.rb
  app/services/dependabot/update_service.rb
  spec/services/cron/schedule_spec.rb
  spec/services/dependabot/config_parser_spec.rb
Due: none

dependency: bump dependabot-omnibus from 0.142.1 to 0.143.1
  Dockerfile
  Gemfile
  Gemfile.lock
Due: build-mock-image, build-mock-image-fork, dependency-scan, dep-scanning-fork, container-scan, container-scan-fork, e2e, e2e-fork

dependency: bump dependabot-omnibus from 0.143.1 to 0.143.3
  Dockerfile
  Gemfile
  Gemfile.lock
Due: build-mock-image, build-mock-image-fork, dependency-scan, dep-scanning-fork, container-scan, container-scan-fork, e2e, e2e-fork

fix: forked project pipeline fix
  script/build.sh
Due: none

fix: skip update when merge request has no conflict
  app/services/dependabot/merge_request_service.rb
  spec/services/dependabot/merge_request_service_spec.rb
Due: none

Update to v0.3.10
  CHANGELOG.md
  script/build.sh
Due: none

chore: fix regex for current version detection in dependabot-standalone
  lib/task_helpers/standalone_release_helper.rb
Due: none
