Repository luca-bassoricci/dependabot: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-mock-image, build-ruby-image, dependency-scan, container-scan, e2e, release-ruby-image, deploy-production

e2e:
  variables:
    SETTINGS__GITHUB_ACCESS_TOKEN: $GITHUB_ACCESS_TOKEN

deploy-production:
  tags:
  - deploy
  environment:
    name: production
    url: $DEPENDABOT_URL_PRODUCTION
    on_stop: stop-production
  resource_group: production
  variables:
    DEPENDABOT_URL: $DEPENDABOT_URL_PRODUCTION

dependency: bump sentry-ruby from 4.6.3 to 4.6.4
  Gemfile.lock
Due: dependency-scan, deploy-production

dependency: bump sentry-rails from 4.6.3 to 4.6.4
  Gemfile.lock
Due: dependency-scan, deploy-production

chore: refactor and simplify code
  app/controllers/concerns/api/exception_handler.rb
  app/helpers/application_helper.rb
  app/services/dependabot/config_parser.rb
  app/services/dependabot/merge_request_service.rb
  app/services/gitlab/merge_request/acceptor.rb
  app/services/gitlab/merge_request/commenter.rb
  app/services/gitlab/merge_request/rebaser.rb
  app/services/webhooks/comment_event_handler.rb
  app/services/webhooks/pipeline_event_handler.rb
  app/services/webhooks/push_event_handler.rb
  spec/services/dependabot/merge_request_service_spec.rb
  spec/services/gitlab/merge_request/acceptor_spec.rb
  spec/services/gitlab/merge_request/rebaser_spec.rb
  spec/services/webhooks/comment_event_handler_spec.rb
  spec/services/webhooks/pipeline_event_handler_spec.rb
Due: deploy-production

fix: fix incorrect find_by statements
  app/services/dependabot/merge_request_updater.rb
  spec/services/dependabot/config_fetcher_spec.rb
Due: deploy-production

improvement: make metrics server configurable
  config/configs/app_config.rb
  config/initializers/sidekiq.rb
  config/puma.rb
  config/routes.rb
Due: deploy-production

fix: set sidekiq initialization to be first
  config/initializers/01_sidekiq.rb
  kube/helm/development.yaml.gotmpl
Due: deploy-production

feature: cron job to automatically scan projects to register
  README.md
  app/controllers/dependabot_controller.rb
  app/jobs/merge_request_update_job.rb
  app/jobs/project_registration_job.rb
  app/services/dependabot/project_registration.rb
  app/services/gitlab/project_finder.rb
  config/application.rb
  config/configs/app_config.rb
  config/initializers/01_sidekiq.rb
  doc/environment.md
  spec/jobs/project_registration_job_spec.rb
  spec/services/dependabot/project_registration_spec.rb
  spec/services/gitlab/project_finder_spec.rb
Due: deploy-production

chore: update deployment chart
  kube/helm/development.yaml.gotmpl
  kube/helm/helmfile.yaml
  kube/helm/production.yaml.gotmpl
Due: deploy-production

chore: include app version in docker image
  Dockerfile
  config/initializers/sentry.rb
  script/build.sh
Due: build-mock-image, container-scan, e2e, deploy-production

chore: use different gitlab token for dev environment deploy
  kube/helm/development.yaml.gotmpl
  kube/helm/production.yaml.gotmpl
Due: deploy-production

feature: project registration via system hooks
  README.md
  app/controllers/api/project/adds_controller.rb
  app/controllers/api/project/registration_controller.rb
  app/controllers/api/project_controller.rb
  app/jobs/project_registration_job.rb
  app/services/dependabot/project_remover.rb
  app/services/webhooks/push_event_handler.rb
  app/services/webhooks/system_hook_handler.rb
  config/app.yml
  config/configs/app_config.rb
  config/routes.rb
  doc/environment.md
  spec/controllers/api/project/adds_controller_spec.rb
  spec/controllers/api/project/registration_controller_spec.rb
  spec/jobs/project_registration_job_spec.rb
  spec/services/webhooks/system_hook_handler_spec.rb
Due: deploy-production

chore: sentry configuration improvements
  config/initializers/sentry.rb
  kube/sidekiq-healthcheck.sh
Due: deploy-production

chore: revert sampler changes for sentry
  config/initializers/sentry.rb
Due: deploy-production

chore: log healthcheck job to debug level
  config/initializers/01_sidekiq.rb
Due: deploy-production

fix: always recreate mr on recreate command
  app/services/dependabot/merge_request_service.rb
Due: deploy-production

chore: start brakeman and bundle-autid right away
  .gitlab/ci/jobs.gitlab-ci.yml
Due: none

development-dependency: bump reek from 6.0.4 to 6.0.5
  Gemfile.lock
Due: dependency-scan, deploy-production

update helmfile version
  .gitlab/ci/jobs.gitlab-ci.yml
Due: none

doc: move supported by section
  README.md
  images/jetbrains.png
Due: none

doc: add gitlab logo
  README.md
  images/gitlab.png
Due: none

dependency: bump bootsnap from 1.7.6 to 1.7.7
  Gemfile.lock
Due: dependency-scan, deploy-production

chore: revert skip sentry on healthcheck removal
  config/initializers/sentry.rb
  kube/sidekiq-healthcheck.sh
Due: deploy-production

chore: set different default cron value for registration job
  config/configs/app_config.rb
Due: deploy-production

dependency: bump mongoid from 7.3.1 to 7.3.2
  Gemfile.lock
Due: dependency-scan, deploy-production

dependency: bump dependabot-omnibus from 0.157.1 to 0.158.0
  Dockerfile
  Gemfile
  Gemfile.lock
Due: build-mock-image, dependency-scan, container-scan, e2e, deploy-production

improvement: add create project hook config option
  README.md
  app/services/dependabot/project_creator.rb
  config/configs/app_config.rb
  doc/environment.md
  spec/services/dependabot/project_creator_spec.rb
Due: deploy-production

chore: rescue forbidden error on hook creation
  app/services/dependabot/project_creator.rb
Due: deploy-production

Update to v0.8.0
  CHANGELOG.md
Due: none

improvement: add support for update-types parameter in ignore rule
  .gitlab-ci.yml
  app/services/dependabot/config_parser.rb
  app/services/dependabot/rule_handler.rb
  spec/services/dependabot/rule_handler_spec.rb
Due: deploy-production

Update to v0.8.1
  CHANGELOG.md
Due: none

development-dependency: bump webmock from 3.13.0 to 3.14.0
  Gemfile
  Gemfile.lock
Due: dependency-scan, deploy-production

dependency: bump dependabot-omnibus from 0.158.0 to 0.159.0
  Dockerfile
  Gemfile
  Gemfile.lock
Due: build-mock-image, dependency-scan, container-scan, e2e, deploy-production

feature: allow MR creation from forked project
  .reek.yml
  app/contracts/dependabot_config_contract.rb
  app/models/project.rb
  app/services/dependabot/config_fetcher.rb
  app/services/dependabot/config_parser.rb
  app/services/dependabot/merge_request_service.rb
  app/services/dependabot/project_creator.rb
  app/services/gitlab/config/fetcher.rb
  app/services/gitlab/default_branch.rb
  app/services/gitlab/merge_request/creator.rb
  config/initializers/dependabot.rb
  config/initializers/mention_sanitizer.rb
  config/initializers/rebase_merge_request.rb
  spec/services/dependabot/config_fetcher_spec.rb
  spec/services/dependabot/merge_request_service_spec.rb
  spec/services/dependabot/merge_request_updater_spec.rb
  spec/services/dependabot/project_creator_spec.rb
  spec/services/dependabot/update_service_spec.rb
  spec/services/gitlab/merge_request/creator_spec.rb
Due: deploy-production

fix: convert ObjectifiedHash to Hash to avoid warnings
  app/services/dependabot/project_creator.rb
Due: deploy-production

chore: check gitlab project exists when registering
  .rubocop.yml
  app/services/dependabot/project_creator.rb
Due: deploy-production

chore: improve project registration spec and logging
  app/jobs/project_registration_job.rb
  app/services/gitlab/project_finder.rb
  spec/services/dependabot/project_registration_spec.rb
Due: deploy-production

fix: paginate response when fetching projects for registration
  app/services/gitlab/project_finder.rb
  spec/services/gitlab/project_finder_spec.rb
Due: deploy-production

improvement: allow global overrides for branch name seperator and open pull request limit
  app/services/dependabot/config_fetcher.rb
  app/services/dependabot/config_parser.rb
  app/services/gitlab/config/checker.rb
  app/services/gitlab/config/fetcher.rb
  app/services/webhooks/push_event_handler.rb
  config/configs/app_config.rb
  config/configs/dependabot_config.rb
  doc/environment.md
  spec/services/dependabot/config_fetcher_spec.rb
  spec/services/gitlab/config/checker_spec.rb
  spec/services/gitlab/config/fetcher_spec.rb
  spec/services/webhooks/push_event_handler_spec.rb
Due: deploy-production

Improvement: sync project data on project registration job
  .rspec
  README.md
  app/helpers/application_helper.rb
  app/jobs/dependency_update_job.rb
  app/jobs/project_registration_job.rb
  app/services/dependabot/config_fetcher.rb
  app/services/dependabot/project_creator.rb
  app/services/dependabot/project_sync.rb
  app/services/gitlab/project_finder.rb
  config/configs/app_config.rb
  doc/environment.md
  spec/jobs/project_registration_job_spec.rb
  spec/services/dependabot/project_sync_spec.rb
  spec/services/gitlab/project_finder_spec.rb
Due: deploy-production

chore: disable registration by default
  config/configs/app_config.rb
Due: deploy-production

Path conditions:
  build-mock-image: any of: Dockerfile, spec/fixture/gitlab/**/*
  build-ruby-image: any of: .gitlab/ci/Dockerfile
  dependency-scan: any of: Gemfile, Gemfile.lock
  container-scan: any of: Dockerfile
  e2e: any of: Dockerfile, spec/fixture/gitlab/**/*
  release-ruby-image: any of: .gitlab/ci/Dockerfile
  deploy-production: any of: app/**/*, config/**/*, kube/**/*, public/**/*, bin/rails, lib/tasks/dependabot.rake, config.ru, Dockerfile, Gemfile, Gemfile.lock, Rakefile
