Repository luca-bassoricci/dependabot: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-mock-image, build-mock-image-fork, dependency-scan, dep-scanning-fork, container-scan, container-scan-fork, e2e, e2e-fork

Path conditions:
  build-mock-image: any of: Dockerfile, spec/fixture/gitlab/**/*
  build-mock-image-fork: any of: Dockerfile, spec/fixture/gitlab/**/*
  dependency-scan: any of: Gemfile, Gemfile.lock
  dep-scanning-fork: any of: Gemfile, Gemfile.lock
  container-scan: any of: Gemfile, Gemfile.lock
  container-scan-fork: any of: Gemfile, Gemfile.lock
  e2e: any of: Dockerfile, spec/fixture/gitlab/**/*
  e2e-fork: any of: Dockerfile, spec/fixture/gitlab/**/*

dependency: bump rails from 6.1.3 to 6.1.3.1
  Gemfile.lock
Due: dependency-scan, dep-scanning-fork, container-scan, container-scan-fork

chore: add default expiry for redis cache
  config/environments/production.rb
Due: none

chore: organize similar function classes in to modules
  app/services/dependabot/config.rb
  app/services/dependabot/merge_request_service.rb
  app/services/dependabot/project_creator.rb
  app/services/gitlab/config/checker.rb
  app/services/gitlab/config/fetcher.rb
  app/services/gitlab/config_checker.rb
  app/services/gitlab/config_fetcher.rb
  app/services/gitlab/merge_request/acceptor.rb
  app/services/gitlab/merge_request/closer.rb
  app/services/gitlab/merge_request/commenter.rb
  app/services/gitlab/merge_request/creator.rb
  app/services/gitlab/merge_request/finder.rb
  app/services/gitlab/merge_request/rebaser.rb
  app/services/gitlab/merge_request/updater.rb
  app/services/gitlab/merge_request_acceptor.rb
  app/services/gitlab/merge_request_closer.rb
  app/services/gitlab/merge_request_commenter.rb
  app/services/gitlab/merge_request_creator.rb
  app/services/gitlab/merge_request_finder.rb
  app/services/gitlab/merge_request_rebaser.rb
  app/services/gitlab/merge_request_updater.rb
  app/services/webhooks/comment_event_handler.rb
  spec/rails_helper.rb
  spec/services/dependabot/merge_request_recreator_spec.rb
  spec/services/dependabot/merge_request_service_spec.rb
  spec/services/dependabot/project_creator_spec.rb
  spec/services/gitlab/config/checker_spec.rb
  spec/services/gitlab/config/fetcher_spec.rb
  spec/services/gitlab/merge_request/acceptor_spec.rb
  spec/services/gitlab/merge_request/closer_spec.rb
  spec/services/gitlab/merge_request/commenter_spec.rb
  spec/services/gitlab/merge_request/creator_spec.rb
  spec/services/gitlab/merge_request/finder_spec.rb
  spec/services/gitlab/merge_request/rebaser_spec.rb
  spec/services/gitlab/merge_request/updater_spec.rb
  spec/services/update_service_spec.rb
  spec/services/webhooks/comment_event_handler_spec.rb
Due: none

chore: add specific file list for production deployments
  .gitlab-ci.yml
Due: none

chore: remove unused brakeman.ignore
  .dockerignore
  config/brakeman.ignore
Due: none

chore: format log messages for better readability
  app/services/dependabot/merge_request_service.rb
  app/services/dependabot/update_checker.rb
  app/services/gitlab/merge_request/acceptor.rb
  app/services/gitlab/merge_request/creator.rb
  app/services/gitlab/merge_request/updater.rb
Due: none

chore: minor logging tweaks
  app/services/dependabot/merge_request_service.rb
  app/services/gitlab/merge_request/acceptor.rb
Due: none

development-dependency: bump andrcuns/ruby from 2.6.6-slim-10.8.5 to 2.6.6-slim-10.8.6 in /spec/fixture/gitlab
  .gitlab/ci/jobs.gitlab-ci.yml
  spec/fixture/gitlab/Dockerfile
Due: build-mock-image, build-mock-image-fork, e2e, e2e-fork

dependency: bump dependabot-omnibus from 0.138.5 to 0.138.6
  Dockerfile
  Gemfile
  Gemfile.lock
Due: build-mock-image, build-mock-image-fork, dependency-scan, dep-scanning-fork, container-scan, container-scan-fork, e2e, e2e-fork

feature: add support for vendor option
  app/contracts/dependabot_config_contract.rb
  app/helpers/dependabot_helper.rb
  app/services/configuration/parser.rb
  app/services/dependabot/dependency_updater.rb
  app/services/dependabot/file_fetcher.rb
  app/services/dependabot/file_parser.rb
  config/initializers/dependabot.rb
  spec/services/configuration/parser_spec.rb
  spec/services/dependabot/dependency_updater_spec.rb
  spec/services/dependabot/file_parser_spec.rb
Due: none

fix: remove unnecessary components from repo path
  app/helpers/dependabot_helper.rb
  spec/services/dependabot/dependency_updater_spec.rb
Due: none

fix: pass repo_contents_path to file updater
  app/services/dependabot/dependency_updater.rb
  app/services/dependabot/file_updater.rb
  app/services/dependabot/update_checker.rb
  spec/services/dependabot/dependency_updater_spec.rb
  spec/services/dependabot/file_updater_spec.rb
  spec/services/dependabot/update_checker_spec.rb
Due: none

dependency: bump dependabot-omnibus from 0.138.6 to 0.139.0
  Dockerfile
  Gemfile
  Gemfile.lock
Due: build-mock-image, build-mock-image-fork, dependency-scan, dep-scanning-fork, container-scan, container-scan-fork, e2e, e2e-fork

chore: remove custom cs major version
  .gitlab/ci/jobs.gitlab-ci.yml
Due: none

fix: create unique repo content path
  app/helpers/dependabot_helper.rb
  app/services/dependabot/dependency_updater.rb
  app/services/dependabot/file_fetcher.rb
  app/services/dependabot/merge_request_recreator.rb
  app/services/update_service.rb
  spec/services/dependabot/dependency_updater_spec.rb
  spec/services/dependabot/file_fetchera_spec.rb
  spec/services/dependabot/merge_request_recreator_spec.rb
  spec/services/update_service_spec.rb
Due: none

dependency: bump rails-healthcheck from 1.2.0 to 1.3.0
  Gemfile
  Gemfile.lock
Due: dependency-scan, dep-scanning-fork, container-scan, container-scan-fork

dependency: bump dependabot-omnibus from 0.139.0 to 0.139.1
  Dockerfile
  Gemfile
  Gemfile.lock
Due: build-mock-image, build-mock-image-fork, dependency-scan, dep-scanning-fork, container-scan, container-scan-fork, e2e, e2e-fork

improvement: clean cloned repo once updates ha finished
  app/services/dependabot/merge_request_recreator.rb
  app/services/update_service.rb
Due: none

fix: synchronize fetching files and updating dependencies on mr recreation
  app/services/dependabot/merge_request_recreator.rb
Due: none

chore: replace sentry-raven with sentry-ruby
  Gemfile
  Gemfile.lock
  app/controllers/concerns/api/exception_handler.rb
  config/environments/production.rb
  config/initializers/sentry.rb
  spec/controllers/api/hooks_controller_spec.rb
Due: dependency-scan, dep-scanning-fork, container-scan, container-scan-fork

development-dependency: bump rubocop from 1.12.0 to 1.12.1
  Gemfile
  Gemfile.lock
Due: dependency-scan, dep-scanning-fork, container-scan, container-scan-fork

dependency: bump sentry-rails from 4.3.3 to 4.3.4
  Gemfile.lock
Due: dependency-scan, dep-scanning-fork, container-scan, container-scan-fork

dependency: bump dependabot-omnibus from 0.139.1 to 0.139.2
  Dockerfile
  Gemfile
  Gemfile.lock
Due: build-mock-image, build-mock-image-fork, dependency-scan, dep-scanning-fork, container-scan, container-scan-fork, e2e, e2e-fork

development-dependency: bump andrcuns/ruby from 2.6.6-slim-10.8.6 to 2.6.6-slim-10.9 in /spec/fixture/gitlab
  .gitlab/ci/jobs.gitlab-ci.yml
  spec/fixture/gitlab/Dockerfile
Due: build-mock-image, build-mock-image-fork, e2e, e2e-fork

dependency: bump sentry-ruby from 4.3.1 to 4.3.2
  Gemfile.lock
Due: dependency-scan, dep-scanning-fork, container-scan, container-scan-fork

chore: move services to Dependabot module
  app/jobs/dependency_update_job.rb
  app/services/credentials.rb
  app/services/dependabot/credentials.rb
  app/services/dependabot/file_fetcher.rb
  app/services/dependabot/file_parser.rb
  app/services/dependabot/file_updater.rb
  app/services/dependabot/update_checker.rb
  app/services/dependabot/update_service.rb
  app/services/gitlab/merge_request/creator.rb
  app/services/gitlab/merge_request/updater.rb
  app/services/update_service.rb
  spec/dependabot_helper.rb
  spec/jobs/dependency_update_job_spec.rb
  spec/services/dependabot/credentials_spec.rb
  spec/services/dependabot/file_parser_spec.rb
  spec/services/dependabot/file_updater_spec.rb
  spec/services/dependabot/update_checker_spec.rb
  spec/services/dependabot/update_service_spec.rb
  spec/services/gitlab/merge_request/creator_spec.rb
  spec/services/gitlab/merge_request/updater_spec.rb
Due: none

improvement: validate arguments passed to update service
  app/jobs/dependency_update_job.rb
  app/services/cron/job_sync.rb
  app/services/dependabot/update_service.rb
  lib/tasks/dependabot.rake
  spec/jobs/dependency_update_job_spec.rb
  spec/services/dependabot/update_service_spec.rb
  spec/tasks/dependabot_spec.rb
Due: none

development-dependency: update ruby to 2.6.7 and bundler to 2.2.15
  .gitlab/ci/jobs.gitlab-ci.yml
  .ruby-version
  Gemfile.lock
  spec/fixture/gitlab/Dockerfile
Due: build-mock-image, build-mock-image-fork, dependency-scan, dep-scanning-fork, container-scan, container-scan-fork, e2e, e2e-fork

chore: update base ci ruby image
  .gitlab/ci/jobs.gitlab-ci.yml
  spec/fixture/gitlab/Dockerfile
Due: build-mock-image, build-mock-image-fork, e2e, e2e-fork

chore: build ruby base image for ci and mock
  .gitlab-ci.yml
  .gitlab/ci/jobs.gitlab-ci.yml
  docker/Dockerfile
  script/build.sh
Due: none

chore: fix tag name for ruby image
  .gitlab/ci/jobs.gitlab-ci.yml
Due: none

dependency: bump dependabot-omnibus from 0.139.2 to 0.140.1
  Dockerfile
  Gemfile
  Gemfile.lock
Due: build-mock-image, build-mock-image-fork, dependency-scan, dep-scanning-fork, container-scan, container-scan-fork, e2e, e2e-fork

dependency: bump sidekiq from 6.2.0 to 6.2.1
  Gemfile
  Gemfile.lock
Due: dependency-scan, dep-scanning-fork, container-scan, container-scan-fork

chore: pin package versions
  docker/Dockerfile
Due: none

chore: use ruby base built in dependabot repo
  .gitlab/ci/jobs.gitlab-ci.yml
  spec/fixture/gitlab/Dockerfile
Due: build-mock-image, build-mock-image-fork, e2e, e2e-fork

chore: add autoupdates for ruby base image
  .gitlab/dependabot.yml
Due: none

Update to v0.3.6
  CHANGELOG.md
Due: none

deploy app on release as well
  .gitlab-ci.yml
Due: none

dependency: bump dependabot-omnibus from 0.140.1 to 0.140.2
  Dockerfile
  Gemfile
  Gemfile.lock
Due: build-mock-image, build-mock-image-fork, dependency-scan, dep-scanning-fork, container-scan, container-scan-fork, e2e, e2e-fork

bump chart version
  kube/helm/helmfile.yaml
Due: none
